{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "../../partials/layout.njk" %}

{% block pageTitle %}HMPPS Interventions - GOV.UK{% endblock %}

{% block content %}
  {% if serviceUserNotificationBannerArgs !== undefined and serviceUserNotificationBannerArgs !== null %}
    {{ govukNotificationBanner(serviceUserNotificationBannerArgs) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorSummaryArgs !== undefined and errorSummaryArgs !== null %}
        {{ govukErrorSummary(errorSummaryArgs) }}
      {% endif %}

      <h1 class="govuk-heading-xl">{{ presenter.text.title }}</h1>
      {% if presenter.text.subTitle %}
        <h2 class="govuk-heading-l">{{ presenter.text.subTitle }}</h2>
      {% endif %}

      {% if presenter.text.pageNumber %}
        <p class="govuk-hint">Page {{ presenter.text.pageNumber }} of 3</p>
      {% endif %}

      {% block formSection %}{% endblock %}
    </div>
  </div>
{% endblock %}
