{% extends "../../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}%}

{% block pageTitle %}HMPPS Interventions - GOV.UK{% endblock %}

{% block pageContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukBackLink(backLinkArgs) }}

            <h1 class="govuk-heading-l">Are you sure you want to change the action plan while it is being reviewed?</h1>

            <p class="govuk-body">Note: This will withdraw the current action plan and the probation practitioner will no longer be able to view it.</p>

            <form action="{{ presenter.confirmAction }}" method="post">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <input type="hidden" name="action-plan-id" value="{{ presenter.actionPlanId }}">
                {{ govukButton({ text: "Confirm and continue", preventDoubleClick: true }) }}
            </form>
        </div>
    </div>
{% endblock %}
