{% extends "../../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}%}

{% block pageContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukBackLink(backLinkArgs) }}
            {{ govukNotificationBanner(serviceUserNotificationBannerArgs) }}


            <h1 class="govuk-heading-l">{{ presenter.text.title }}</h1>

            <p class="govuk-body">{{ presenter.text.note }}</p>

            <form action="{{ presenter.editConfirmAction }}" method="post">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                {{ govukButton({ text: "Confirm and continue", preventDoubleClick: true }) }}
            </form>
        </div>
    </div>
{% endblock %}
