{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "./actionPlanFormTemplate.njk" %}

{% block formSection %}
  <p class="govuk-body-m">This will be shared with the service user's probation practitioner for approval. The first version of the action plan must be submitted within 5 working days from the initial assessment.</p>

  <h2 class="govuk-heading-m">{{ presenter.text.referredOutcomesHeader }}</h2>

  {% for serviceCategoryWithDesiredOutcomes in presenter.actionPlanPresenter.desiredOutcomesByServiceCategory %}
    <h3 class="govuk-heading-s">{{ serviceCategoryWithDesiredOutcomes.serviceCategory }}</h3>
    <ul class="govuk-list govuk-list--bullet">
      {% for desiredOutcome in serviceCategoryWithDesiredOutcomes.desiredOutcomes %}
        <li>{{ desiredOutcome }}</li>
      {% endfor %}
    </ul>
  {% endfor %}

  <form method="post" action="{{ presenter.addActivityAction }}">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    {{ govukTextarea(addActivityTextareaArgs) }}

    {{ govukButton({ text: ('Save and add activity ' + presenter.activityNumber), classes: "govuk-button--secondary", attributes: { id: 'add-activity' }, preventDoubleClick: true }) }}
  </form>

  <form method="post" action="{{ presenter.saveAndContinueFormAction }}">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{ govukButton({ text: "Continue without adding other activities" }) }}
  </form>
{% endblock %}