{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}
  <!--[if !IE 8]><!-->
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
  <!--<![endif]-->

  <!--[if lt IE 9]>
  <link href="/assets/stylesheets/application-ie8.css?{{ version }}" rel="stylesheet"/>
  <script src="/assets/js/html5shiv-3.7.3.min.js"></script>
  <![endif]-->

  <script{% if cspNonce %} nonce="{{ cspNonce }}"{% endif %} type="application/javascript">
      window.gaConfig = {};
      window.gaConfig.uaId = "{{ googleAnalyticsTrackingId }}";
  </script>
  <script src="/assets/googleAnalytics.js"></script>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
          integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
          crossorigin="anonymous"></script>
  <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

{% endblock %}

{% block pageTitle %}
    HMPPS Interventions
    {% if pageTitle %}
    - {{ pageTitle }}
    {% endif %}
    {% if pageSubTitle %}
    - {{ pageSubTitle }}
    {% endif %}
    - GOV.UK
{% endblock %}

{% block content %} 
  {% if broadcastMessage %}
    {% include "./broadcastMessage.njk" %}
  {% endif %}
  {% block pageContent %}
  {% endblock %}
{% endblock %}

{% block header %}
  {% include "./header.njk" %}

  {{ govukPhaseBanner({
    tag: {
      text: "feedback"
    },
    html: '<a class="govuk-link" data-ga-action="click" data-ga-category="Feedback" data-ga-label="Survey Monkey 369L5GL" data-ga-value="1" href="https://eu.surveymonkey.com/r/369L5GL">Give us your feedback</a> to help us improve this service.',
    classes: 'govuk-width-container'
  }) }}

  {% block primaryNav %}{% endblock %}
  {% if serviceUserBannerPresenter %}
    {% include "./serviceUserBanner.njk" %}
  {% endif %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  <script src="/assets/govuk/all.js"></script>
  <script src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
{% endblock %}

{% block footer %}
    {{ govukFooter({
                     meta: {
                       items: [
                         {
                           href: "/report-a-problem",
                           text: "Report a problem"
                         },
                         {
                           href: "/delivery-schedule",
                           text: "Delivery schedule"
                         }
                       ]
                     }
                   }) }}
{% endblock %}
