{% set feedbackAnswersPresenter = presenter.feedbackAnswersPresenter %}

{% if feedbackAnswersPresenter.attendedAnswers %}
  <h3 class="govuk-heading-s">{{ feedbackAnswersPresenter.attendedAnswers.question }}</h3>
  <p>{{ feedbackAnswersPresenter.attendedAnswers.answer }}</p>
{% endif %}

{% if feedbackAnswersPresenter.additionalAttendanceAnswers %}
  <h3 class="govuk-heading-s">{{ feedbackAnswersPresenter.additionalAttendanceAnswers.question }}</h3>
  <p>{{ feedbackAnswersPresenter.additionalAttendanceAnswers.answer }}</p>
{% endif %}

{% if feedbackAnswersPresenter.behaviourDescriptionAnswers %}
  <h3 class="govuk-heading-s">{{ feedbackAnswersPresenter.behaviourDescriptionAnswers.question }}</h3>
  <p>{{ feedbackAnswersPresenter.behaviourDescriptionAnswers.answer }}</p>
{% endif %}

{% if feedbackAnswersPresenter.notifyProbationPractitionerAnswers %}
  <h3 class="govuk-heading-s">{{ feedbackAnswersPresenter.notifyProbationPractitionerAnswers.question }}</h3>
  <p>{{ feedbackAnswersPresenter.notifyProbationPractitionerAnswers.answer }}</p>
{% endif %}