{% if presenter.appointment.appointmentFeedback.sessionFeedback.sessionSummary %}
    <h1 class="govuk-heading-m">Session attendance</h1>
{% endif %}

{% if feedbackAnswersPresenter.attendedAnswers %}
  <h3 class="govuk-heading-s">{{ presenter.appointmentSummary.sessionDetails.question }}</h3>
  <p>{{ presenter.appointmentSummary.sessionDetails.answer | escape | nl2br }}</p>
{% endif %}

{% if feedbackAnswersPresenter.attendedAnswers %}
  <h3 class="govuk-heading-s">{{ feedbackAnswersPresenter.attendedAnswers.question }}</h3>
  <p>{{ feedbackAnswersPresenter.attendedAnswers.answer | escape | nl2br }}</p>
{% endif %}

{% if feedbackAnswersPresenter.additionalAttendanceAnswers %}
  <h3 class="govuk-heading-s">{{ feedbackAnswersPresenter.additionalAttendanceAnswers.question }}</h3>
  <p>{{ feedbackAnswersPresenter.additionalAttendanceAnswers.answer | escape | nl2br }}</p>
{% endif %}

{% if feedbackAnswersPresenter.attendanceFailureInformationAnswers %}
  <h3 class="govuk-heading-s">{{ feedbackAnswersPresenter.attendanceFailureInformationAnswers.question }}</h3>
  <p>{{ feedbackAnswersPresenter.attendanceFailureInformationAnswers.answer | escape | nl2br }}</p>
{% endif %}

<br>

{% if presenter.appointment.appointmentFeedback.sessionFeedback.sessionSummary %}
<h1 class="govuk-heading-m">Session feedback</h1>
{% endif %}

{% if feedbackAnswersPresenter.sessionSummaryAnswers %}
  <h3 class="govuk-heading-s">{{ feedbackAnswersPresenter.sessionSummaryAnswers.question }}</h3>
  <p>{{ feedbackAnswersPresenter.sessionSummaryAnswers.answer }}</p>
{% endif %}

{% if feedbackAnswersPresenter.sessionResponseAnswers %}
  <h3 class="govuk-heading-s">{{ feedbackAnswersPresenter.sessionResponseAnswers.question }}</h3>
  <p>{{ feedbackAnswersPresenter.sessionResponseAnswers.answer }}</p>
{% endif %}

{% if feedbackAnswersPresenter.notifyProbationPractitionerAnswers %}
    {% if feedbackAnswersPresenter.sessionConcernsAnswers %}
        <h3 class="govuk-heading-s">{{ feedbackAnswersPresenter.sessionConcernsAnswers.question }}</h3>
        <p>{{ feedbackAnswersPresenter.sessionConcernsAnswers.answer }}</p>
    {% endif %}
{% endif %}

{% if feedbackAnswersPresenter.behaviourDescriptionAnswers %}
  <h3 class="govuk-heading-s">{{ feedbackAnswersPresenter.behaviourDescriptionAnswers.question }}</h3>
  <p>{{ feedbackAnswersPresenter.behaviourDescriptionAnswers.answer | escape | nl2br }}</p>
{% endif %}

