{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "./layout.njk" %}

{% block pageTitle %}HMPPS Interventions - GOV.UK{% endblock %}

{% block content %}
  {{ govukNotificationBanner(serviceUserNotificationBannerArgs) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink(backLinkArgs) }}

      <h1 class="govuk-heading-l">{{ presenter.text.title }}</h1>

      {{ mojSubNavigation(subNavArgs) }}

      {% block referralPageSection %}{% endblock %}

    </div>
  </div>
{% endblock %}
