{% extends "../partials/layout.njk" %}

{% block pageTitle %}
  HMPPS Interventions - GOV.UK
{% endblock %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">This page is no longer available</h2>

      <p class="govuk-body">
      You can’t view this page any more. If you want to perform this action again, 
      you will need to <a href="/" class="govuk-link">return to the dashboard</a> and start again.
      </p>
    </div>
  </div>
{% endblock %}
