{% extends "../partials/referralNavigationTemplate.njk" %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}


{% set pageTitle = "Referral" %}
{% set pageSubTitle = "Details" %}

{% block referralPageSection %}
      {% if presenter.userType == 'probation-practitioner' %}
        {{ govukInsetText(insetTextArgs) }}
      {% endif %}

      {% if presenter.referralAssigned %}
        <p class="govuk-body">This intervention is assigned to <strong>{{ presenter.assignedCaseworkerFullName }}</strong> (<a href="mailto:{{ presenter.assignedCaseworkerEmail }}">{{ presenter.assignedCaseworkerEmail }}</a>).</p>
      {% endif %}

      {% if presenter.canAssignReferral %}
        <h2 class="govuk-heading-m">Who do you want to assign this referral to?</h2>
        <form method="post" action={{ presenter.assignmentFormAction }}>
              <input type="hidden" name="_csrf" value="{{csrfToken}}">
              {{ govukInput(emailInputArgs) }}
              {{ govukButton({ text: "Save and continue" }) }}
        </form>
      {% elif not presenter.referralAssigned %}
        <p class="govuk-body">{{ presenter.text.noCaseworkerAssigned }}</p>
      {% endif %}

      {{ govukSummaryList(interventionDetailsSummaryListArgs) }}

      {%  for section in serviceCategorySections %}
        {{ govukSummaryList(section.summaryListArgs(govukTag)) }}
      {% endfor %}
      {%  if (responsibleOfficerSummaryListArgs | length)  and  (presenter.isCustodyReferral) %}
          {{ govukSummaryList(responsibleOfficerSummaryListArgs) }}
      {% endif %}
      {%  if not presenter.isCustodyReferral %}
        {{ govukSummaryList(probationPractitionerSummaryListArgs) }}
      {% endif %}  

      {%  if (presenter.isRoAndSenderNotTheSamePerson) and (presenter.isServiceProvider) %}
        {{ govukSummaryList(backupContactSummaryListArgs) }}
      {% endif %}

      {{ govukSummaryList(serviceUserLocationDetailsSummaryListArgs) }}

      {{ govukSummaryList(serviceUserDetailsSummaryListArgs) }}

      {{ govukSummaryList(contactDetailsSummaryListArgs) }}

      {% if presenter.roshPanelPresenter.riskInformationAvailable %}
        {{govukSummaryList(roshInformationArgs)}}
      {% endif %}

      {% if presenter.canShowFullSupplementaryRiskInformation %}
         {{ govukSummaryList(riskInformationArgs) }}
      {% else %}
        {{ govukSummaryList(serviceUserRisksSummaryListArgs) }}
      {% endif %}

      {{ govukSummaryList(serviceUserNeedsSummaryListArgs) }}

{% endblock %}
