{% extends "../partials/referralNavigationTemplate.njk" %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitle = "Referral" %}
{% set pageSubTitle = "Details" %}

{% block referralPageSection %}
      {% if presenter.text.assignedTo != null %}
        <p class="govuk-body">This intervention is assigned to <strong>{{ presenter.text.assignedTo }}</strong>.</p>
      {% endif %}

      {% if presenter.canAssignReferral %}
        <h2 class="govuk-heading-m">Who do you want to assign this referral to?</h2>
        <form method="post" action={{ presenter.assignmentFormAction }}>
              <input type="hidden" name="_csrf" value="{{csrfToken}}">
              {{ govukInput(emailInputArgs) }}
              {{ govukButton({ text: "Save and continue" }) }}
        </form>
      {% elif presenter.text.assignedTo == null %}
        <p class="govuk-body">This intervention is not yet assigned to a caseworker.</p>
      {% endif %}

      <h2 class="govuk-heading-m">Intervention details</h2>
      {{ govukSummaryList(interventionDetailsSummaryListArgs) }}

      {%  for section in serviceCategorySections %}
        <h2 class="govuk-heading-m">{{ section.name | capitalize }} service</h2>
        {{ govukSummaryList(section.summaryListArgs(govukTag)) }}
      {% endfor %}

      <h2 class="govuk-heading-m">Service user's personal details</h2>
      {{ govukSummaryList(serviceUserDetailsSummaryListArgs) }}

      <h2 class="govuk-heading-m">Service user's risk information</h2>

      {% if presenter.riskPresenter.riskInformationAvailable %}

        <p class="govuk-body">This shows the service user's Risk of Serious Harm (ROSH) levels. Additional information from the probation practitioner may also be shown.</p>

        {{ govukTable(roshAnalysisTableArgs(govukTag)) }}

        {{ govukDetails(riskLevelDetailsArgs) }}

      {% endif %}

      {{ govukSummaryList(serviceUserRisksSummaryListArgs) }}

      <h2 class="govuk-heading-m">Service user's needs</h2>
      {{ govukSummaryList(serviceUserNeedsSummaryListArgs) }}

      <h2 class="govuk-heading-m">Responsible officer details</h2>
      {%  if responsibleOfficerSummaryListArgs | length %}
          {{ govukSummaryList(responsibleOfficerSummaryListArgs) }}
      {% else %}
          <p class="govuk-body">No responsible officer details found in nDelius. Email notifications for this referral will be sent to the referring officer.</p>
      {% endif %}

      <h2 class="govuk-heading-m">Referring probation practitioner details</h2>
      {{ govukSummaryList(probationPractitionerSummaryListArgs) }}

{% endblock %}
