{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "../serviceProviderReferrals/actionPlan/actionPlanFormTemplate.njk" %}

{% set pageTitle = "Appointment feedback" %}
{% set pageSubTitle = "View" %}

{% block formSection %}
  {{ govukSummaryList(sessionDetailsSummaryListArgs) }}
  <br>
  {% if not presenter.isRescheduledAppointment %}
    {% include "../partials/postSessionFeedbackResponses.njk" %}
  {% endif %}
{% endblock %}