{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "Make a referral" %}
{% set pageSubTitle = "Check your answers" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Check your answers</h1>

      {{ govukSummaryList(probationPractitionerDetailsSummaryListArgs) }}
      
      {{ govukSummaryList(serviceUserDetailsSummaryListArgs) }}

      {{ govukSummaryList(riskInformationSummaryListArgs) }}

      {{ govukSummaryList(needsAndRequirementsSummaryListArgs) }}

      {% if serviceCategoriesSummaryListArgs %}

        {{ govukSummaryList(serviceCategoriesSummaryListArgs) }}
      {% endif %}


      {{ govukSummaryList(sentenceInformationSummaryListArgs) }}

      {% for section in referralDetailsSections %}

        {{ govukSummaryList(section.summaryListArgs) }}
      {% endfor %}

      {{ govukSummaryList(enforceableDaysSummaryListArgs) }}

      {{ govukSummaryList(completionDeadlineSummaryListArgs) }}

      {{ govukSummaryList(furtherInformationSummaryListArgs) }}

      <form method="post" action="send">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        {{ govukButton({ text: "Submit referral", preventDoubleClick: true }) }}
      </form>
    </div>
  </div>
{% endblock %}
