{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


{% extends "../partials/layout.njk" %}

{% set pageTitle = "Make a referral" %}
{% set pageSubTitle = "Check all referral information" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink(backLinkArgs) }}
      <br>
      <br>
      <p class="govuk-caption-xl">{{ presenter.crnDescription }} </p>
      <h1 class="govuk-heading-xl">Check all referral information</h1>
      <p class="govuk-body-l">These details will be sent to the service provider. Check they are correct before submitting the referral.</p>

      {% if presenter.loggedInUserType == 'service-provider' %}
        {{ govukInsetText({
                text: "This information is correct at the time of referral. If the referral is ineligible you must contact the probation practitioner as soon as possible."
            })
        }}
      {% endif %}

      {{ govukSummaryList(identityDetailsSummaryListArgs) }}

      {% if communityLocationAndReleaseDetailsSummaryListArgs and (presenter.isCommunity) %}
        {{ govukSummaryList(communityLocationAndReleaseDetailsSummaryListArgs) }}
      {% endif %}

      {{ govukSummaryList(sentenceInformationSummaryListArgs) }}

      {% if serviceCategoriesSummaryListArgs %}

        {{ govukSummaryList(serviceCategoriesSummaryListArgs) }}
      {% endif %}

      {% for section in referralDetailsSections %}

        {{ govukSummaryList(section.summaryListArgs) }}
      {% endfor %}

      {% if probationPractitionerDetailsSummaryListArgs and (not presenter.checkIfUnAllocatedCOM) %}
        {{ govukSummaryList(probationPractitionerDetailsSummaryListArgs) }}
      {% endif %}

      {% if backUpContactDetailsSummaryListArgs and (not presenter.checkIfUnAllocatedCOM) %}
        {{ govukSummaryList(backUpContactDetailsSummaryListArgs) }}
      {% endif %}

      {% if mainPointOfContactDetailsSummaryListArgs and (presenter.checkIfUnAllocatedCOM) %}
        {{ govukSummaryList(mainPointOfContactDetailsSummaryListArgs) }}
      {% endif %}

      {% if expectedReleaseDateDetailsSummaryListArgs and (presenter.checkIfExpectedReleaseDateIsAvailable) %}
        {{ govukSummaryList(expectedReleaseDateDetailsSummaryListArgs) }}
      {% endif %}

      {% if locationDetailsSummaryListArgs and (not presenter.checkIfExpectedReleaseDateIsAvailable) %}
        {{ govukSummaryList(locationDetailsSummaryListArgs) }}
      {% endif %}
      
      {{ govukSummaryList(lastKnownAddressAndContactDetailsSummaryListArgs) }}

      {{govukSummaryList(personalDetailsSummaryListArgs)}}

      {{ govukSummaryList(needsAndRequirementsSummaryListArgs) }}      

      {{ govukSummaryList(riskInformationSummaryListArgs) }}

      <form method="post" action="send">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        {{ govukButton({ text: "Submit referral", preventDoubleClick: true }) }}
      </form>
    </div>
  </div>
{% endblock %}
