{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "Make a referral" %}
{% set pageSubTitle = "Provide intervention completion date" %}

{% block pageContent %}
{% if backLinkArgs %}
    {{ govukBackLink(backLinkArgs) }}
{% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-caption-xl">{{ presenter.label }} </p><br/>
      <form method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        {% if errorSummaryArgs !== null %}
          {{ govukErrorSummary(errorSummaryArgs) }}
        {% endif %}

        {{ govukDateInput(dateInputArgs) }}

        {% if textAreaArgs %}
            {{ govukTextarea(textAreaArgs) }}
        {% endif %}

        {{ govukButton({ text: "Save and continue", preventDoubleClick: true }) }}
      </form>
    </div>
  </div>
{% endblock %}
