{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "Make a referral" %}
{% set pageSubTitle = "Confirm main point of contact details" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink(backLinkArgs) }}
      <br>
      <br>
      {% if errorSummaryArgs !== null %}
        {{ govukErrorSummary(errorSummaryArgs) }}
      {% endif %}

      <p class="govuk-caption-xl">{{ presenter.text.label }}</p>
      <h1 class="govuk-heading-xl">{{ presenter.text.title }}</h1>
      <p class="govuk-body">{{ presenter.text.description }} </p>

      <form method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        {{ govukInput(probationPractitionerNameInputArgs) }}
        {{ govukInput(probationPractitionerRoleOrJobTitleInputArgs) }}
        {{ govukInput(probationPractitionerEmailInputArgs) }}
        {% set establishmentSelectionHTML %}
        {{ govukSelect(prisonSelectArgs) }}
          <script src="/assets/accessible-autocomplete.min.js"></script>
          <script>
              accessibleAutocomplete.enhanceSelectElement({
                preserveNullOptions: true,
                selectElement: document.querySelector('#prison-select')
              })
          </script>
        {% endset -%}
        {% set probationOfficeSelectionHTML %}
        {{ govukSelect(probationPractitionerOfficeSelectArgs) }}
          <script>
            accessibleAutocomplete.enhanceSelectElement({
              preserveNullOptions:true,
              selectElement: document.querySelector('#probation-practitioner-office')
            })
          </script>
        {% endset -%}
        {{ govukRadios(confirmCorrectDetailsRadiosArgs(establishmentSelectionHTML, probationOfficeSelectionHTML)) }}
        <br>
        {{ govukButton({ classes: "confirm-main-contact", text: "Save and continue", preventDoubleClick: true }) }}
      </form>
    </div>
  </div>
  <script type="">
    $(function () {
      $('.confirm-main-contact').on('click', function () {
        if (!$.trim($('#prison-select').val()).length) {
          $('.confirm-establishment').val('')
          $('.confirm-establishment').selected = false
        }
        if (!$.trim($('#probation-practitioner-office').val()).length) {
          $('.confirm-probation-office').val('')
          $('.confirm-probation-office').selected = false
        }

    })
  })
  </script>  

{% endblock %}
