{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "Make a referral" %}
{% set pageSubTitle = "Confirm probation practitioner details" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink(backLinkArgs) }}
      <br>
      <br>
      {% if errorSummaryArgs !== null %}
        {{ govukErrorSummary(errorSummaryArgs) }}
      {% endif %}

      <p class="govuk-caption-xl">{{ presenter.text.label }} </p>
      <h1 class="govuk-heading-xl">{{ presenter.text.title }}</h1>
      <p class="govuk-body">{{ presenter.text.description }} </p>

      {{ govukInsetText({
          text: "You should update any information that is incorrect or missing. Name and PDU (Probation Delivery Unit) are mandatory."
        }) 
      }}      

      {{ govukSummaryList(summaryListArgs) }}

      <form method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        {{ govukButton({ classes: "confirm-pp-details", text: "Save and continue", preventDoubleClick: true }) }}
      </form>
    </div>
  </div>
{% endblock %}
