{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


{% extends "../partials/layout.njk" %}

{% set pageTitle = "Make a referral" %}
{% set pageSubTitle = "Edit Service user's risk information" %}



{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">OASys risk information</h1>
      {% if errorSummaryArgs !== null %}
        {{ govukErrorSummary(errorSummaryArgs) }}
      {% endif %}

      <p class="govuk-body">Latest assessment: {{ latestAssessment }} </p>
      <hr/>
      <form method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <h2 class="govuk-heading-m">Who is at risk</h2>
        {{ govukTextarea(whoIsAtRiskTextareaArgs) }}
        <a id='revert-who-is-at-risk' class="govuk-link link link__right-justified">
            Revert to original OASys information
        </a>
        <hr/>

        <h2 class="govuk-heading-m">What is the nature of the risk</h2>
        {{ govukTextarea(natureOfRiskTextareaArgs) }}
        <a id='revert-nature-of-risk' class="govuk-link link link__right-justified">
            Revert to original OASys information
        </a>
        <hr/>

        <h2 class="govuk-heading-m">When is the risk likely to be greatest</h2>
        {{ govukTextarea(riskImminenceTextareaArgs) }}
        <a id='revert-risk-imminence' class="govuk-link link link__right-justified">
            Revert to original OASys information
        </a>
        <hr/>

        <h2 class="govuk-heading-m">Concerns in relation to self-harm</h2>
        <p class="govuk-body {{ riskInformation.riskToSelf.selfHarm.label.class }}"> {{ riskInformation.riskToSelf.selfHarm.label.text }}</p>
        {{ govukTextarea(riskToSelfSelfHarmTextareaArgs) }}
        <a id='revert-risk-to-self-self-harm' class="govuk-link link link__right-justified">
            Revert to original OASys information
        </a>
        <hr/>

        <h2 class="govuk-heading-m">Concerns in relation to suicide</h2>
        <p class="govuk-body {{ riskInformation.riskToSelf.suicide.label.class }}"> {{ riskInformation.riskToSelf.suicide.label.text }}</p>
        {{ govukTextarea(riskToSelfSuicideTextareaArgs) }}
        <a id='revert-risk-to-self-suicide' class="govuk-link link link__right-justified">
            Revert to original OASys information
        </a>
        <hr/>

        <h2 class="govuk-heading-m">Concerns in relation to coping in a hostel setting</h2>
        <p class="govuk-body {{ riskInformation.riskToSelf.hostelSetting.label.class }}"> {{ riskInformation.riskToSelf.hostelSetting.label.text }}</p>
        {{ govukTextarea(riskToSelfHostelSettingTextareaArgs) }}
        <a id='revert-risk-to-self-hostel-setting' class="govuk-link link link__right-justified">
            Revert to original OASys information
        </a>
        <hr/>

        <h2 class="govuk-heading-m">Concerns in relation to vulnerability</h2>
        <p class="govuk-body {{ riskInformation.riskToSelf.vulnerability.label.class }}"> {{ riskInformation.riskToSelf.vulnerability.label.text }}</p>
        {{ govukTextarea(riskToSelfVulnerabilityTextareaArgs) }}
        <a id='revert-risk-to-self-vulnerability' class="govuk-link link link__right-justified">
            Revert to original OASys information
        </a>
        <hr/>

        <h2 class="govuk-heading-m">Additional information</h2>
        <p class="govuk-body {{ riskInformation.additionalRiskInformation.label.class }}">{{ riskInformation.additionalRiskInformation.label.text }}</p>
        {{ govukTextarea(additionalInformationTextareaArgs) }}
        <a id='revert-additional-information' class="govuk-link link link__right-justified">
            Revert to original OASys information
        </a>

        {{ govukCheckboxes(confirmUnderstoodWarningCheckboxArgs) }}
        {{ govukButton({ text: "Save and continue" }) }}
      </form>
    </div>
  </div>
        <script src="/assets/formUtils.js">
        </script>
    <script {% if cspNonce %} nonce="{{ cspNonce }}" {% endif %}>
      document.getElementById("revert-who-is-at-risk").onclick = function(){FormUtils.replaceTextAreaFromAttribute("who-is-at-risk", "oasysRiskInfo");}
      document.getElementById("revert-nature-of-risk").onclick = function(){FormUtils.replaceTextAreaFromAttribute("nature-of-risk", "oasysRiskInfo");}
      document.getElementById("revert-risk-imminence").onclick = function(){FormUtils.replaceTextAreaFromAttribute("risk-imminence", "oasysRiskInfo");}
      document.getElementById("revert-risk-to-self-self-harm").onclick = function(){FormUtils.replaceTextAreaFromAttribute("risk-to-self-self-harm", "oasysRiskInfo");}
      document.getElementById("revert-risk-to-self-suicide").onclick = function(){FormUtils.replaceTextAreaFromAttribute("risk-to-self-suicide", "oasysRiskInfo");}
      document.getElementById("revert-risk-to-self-hostel-setting").onclick = function(){FormUtils.replaceTextAreaFromAttribute("risk-to-self-hostel-setting", "oasysRiskInfo");}
      document.getElementById("revert-risk-to-self-vulnerability").onclick = function(){FormUtils.replaceTextAreaFromAttribute("risk-to-self-vulnerability", "oasysRiskInfo");}
      document.getElementById("revert-additional-information").onclick = function(){FormUtils.replaceTextAreaFromAttribute("additional-information", "oasysRiskInfo");}
    </script>
{% endblock %}
