{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "Make a referral" %}
{% set pageSubTitle = "Provide enforceable days" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if backLinkArgs %}
        {{ govukBackLink(backLinkArgs) }}
      {% endif %}

      <p class="govuk-body">{{ presenter.text.label }} </p>
      <form method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        {% if errorSummaryArgs !== null %}
          {{ govukErrorSummary(errorSummaryArgs) }}
        {% endif %}

        {{ govukInput(maximumEnforceableDaysInputArgs) }}

        {% if reasonForChangeInputArgs %}
          {{ govukTextarea(reasonForChangeInputArgs) }}
        {% endif %}

        {{ govukButton({ text: "Save and continue", preventDoubleClick: true }) }}
      </form>
    </div>
  </div>
{% endblock %}