{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "Make a referral" %}
{% set pageSubTitle = "Service user's needs and requirements" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummaryArgs !== null %}
        {{ govukErrorSummary(errorSummaryArgs) }}
      {% endif %}

      <h1 class="govuk-heading-xl">{{ presenter.text.title }}</h1>

      <form method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        {{ govukTextarea(accessibilityNeedsTextareaArgs) }}
        {{ govukTextarea(additionalNeedsInformationTextareaArgs) }}

        {% set interpreterLanguageHtml %}
        {{ govukInput(interpreterLanguageInputArgs) }}
        {% endset -%}
        {{ govukRadios(interpreterRadiosArgs(interpreterLanguageHtml)) }}

        {% set whenUnavailableHtml %}
        {{ govukTextarea(whenUnavailableTextareaArgs) }}
        {% endset -%}
        {{ govukRadios(responsibilitiesRadiosArgs(whenUnavailableHtml)) }}

        {{ govukButton({ text: "Save and continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
