{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}


{% extends "../partials/layout.njk" %}

{% set pageTitle = "Make a referral" %}
{% set pageSubTitle = "Service user's risk information" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">OASys risk information</h1>
        {% if errorSummaryArgs !== null %}
          {{ govukErrorSummary(errorSummaryArgs) }}
        {% endif %}

        <p class="govuk-body">Latest assessment: {{ latestAssessment }} </p>
        <hr/>

        <h2 class="govuk-heading-m">Who is at risk</h2>
        {% if riskInformation.summary.whoIsAtRisk.label %}
            <p class="govuk-body {{ riskInformation.summary.whoIsAtRisk.label.class}}">{{ riskInformation.summary.whoIsAtRisk.label.text }}</p>
        {% endif %}
        <p class="govuk-body">{{ riskInformation.summary.whoIsAtRisk.text | escape | nl2br }}</p>
        <hr/>

        <h2 class="govuk-heading-m">What is the nature of the risk</h2>
        {% if riskInformation.summary.natureOfRisk.label %}
            <p class="govuk-body {{riskInformation.summary.natureOfRisk.label.class}}">{{ riskInformation.summary.natureOfRisk.label.text }}</p>
        {% endif %}
        <p class="govuk-body">{{ riskInformation.summary.natureOfRisk.text | escape | nl2br }}</p>
        <hr/>

        <h2 class="govuk-heading-m">When is the risk likely to be greatest</h2>
        {% if riskInformation.summary.riskImminence.label %}
            <p class="govuk-body {{riskInformation.summary.riskImminence.label.class}}">{{ riskInformation.summary.riskImminence.label.text }}</p>
        {% endif %}
        <p class="govuk-body">{{ riskInformation.summary.riskImminence.text | escape | nl2br }}</p>
        <hr/>

        <h2 class="govuk-heading-m">Concerns in relation to self-harm</h2>
        <p class="govuk-body {{ riskInformation.riskToSelf.selfHarm.label.class }}"> {{ riskInformation.riskToSelf.selfHarm.label.text }}</p>
        <p class="govuk-body">{{ riskInformation.riskToSelf.selfHarm.text | escape | nl2br }}</p>
        <hr/>

        <h2 class="govuk-heading-m">Concerns in relation to suicide</h2>
        <p class="govuk-body {{ riskInformation.riskToSelf.suicide.label.class }}"> {{ riskInformation.riskToSelf.suicide.label.text }}</p>
        <p class="govuk-body">{{ riskInformation.riskToSelf.suicide.text | escape | nl2br }}</p>
        <hr/>

        <h2 class="govuk-heading-m">Concerns in relation to coping in a hostel setting</h2>
        <p class="govuk-body {{ riskInformation.riskToSelf.hostelSetting.label.class }}"> {{ riskInformation.riskToSelf.hostelSetting.label.text }}</p>
        <p class="govuk-body">{{ riskInformation.riskToSelf.hostelSetting.text | escape | nl2br }}</p>
        <hr/>

        <h2 class="govuk-heading-m">Concerns in relation to vulnerability</h2>
        <p class="govuk-body {{ riskInformation.riskToSelf.vulnerability.label.class }}"> {{ riskInformation.riskToSelf.vulnerability.label.text }}</p>
        <p class="govuk-body">{{ riskInformation.riskToSelf.vulnerability.text | escape | nl2br }}</p>
        <hr/>

        <h2 class="govuk-heading-m">Additional information</h2>
        {% if riskInformation.additionalRiskInformation.label %}
            <p class="govuk-body {{ riskInformation.additionalRiskInformation.label.class }}">{{ riskInformation.additionalRiskInformation.label.text }}</p>
        {% endif %}
        <p class="govuk-body">{{ riskInformation.additionalRiskInformation.text | escape | nl2br }}</p>

      <form method="post" action={{ confirmEditActionHref }}>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
          {% set noEditRiskSelectionHTML %}
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
                You have not edited any of the OASys information.
                Selecting save and continue will share it with the service provider in its current form.
                Make sure there are no sensitive details included.
                You will be responsible for the information that is shared.
                {{ govukDetails(sensitiveInformationDetailsArgs) }}
                {{ govukCheckboxes(confirmUnderstoodWarningCheckboxArgs) }}
            </strong>
          </div>
          {% endset -%}
        {{ govukRadios(editRiskConfirmationRadioButtonArgs(noEditRiskSelectionHTML)) }}
        {{ govukButton({ text: "Save and continue" }) }}
      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="refer-and-monitor__rosh-analysis-table {{ roshPanelPresenter.overallRoshStyle }}">
        <p class="rosh-analysis-table__header"><strong>{{ roshPanelPresenter.formattedOverallRoshScore }}</strong> RoSH</p>
        <p class="rosh-analysis-table__subheader">Risk of serious harm</p>
        <p class="rosh-analysis-table__last-updated">{{ roshPanelPresenter.lastUpdated }}</p>
        {{ govukTable(roshAnalysisTableArgs(govukTag)) }}
      </div>
    </div>
  </div>
{% endblock %}
