{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "Make a referral" %}
{% set pageSubTitle = "Enter the person's case identifier" %}

{% block pageContent %}
  {{ govukBackLink(backLinkArgs) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Enter the person's case identifier
      </h1>

      <p class="govuk-body-l">This will retrieve the person on probation's record</p>

      {% set href = presenter.hrefStartReferral or '' %}
      <form action="{{ href.split('?')[0] }}" method="POST">
          <input type="hidden" name="_csrf" value="{{csrfToken}}">

          {{govukInput(crnInputArgs)}}

          <p>These details will be imported</p>

          {% if href and '?' in href %}
              {% set queryString = href.split('?')[1] %}
              {% for param in queryString.split('&') %}
                  {% set pair = param.split('=') %}
                  <input type="hidden" name="{{ pair[0] }}" value="{{ pair[1] }}">
              {% endfor %}
          {% endif %}

          {{ govukButton({ text: "Continue" }) }}
      </form>


  </div>

{% endblock %}
