{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "Make a referral" %}
{% set pageSubTitle = "Submit Location" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink(backLinkArgs) }}
      <br>
      <br>
      {% if errorSummaryArgs !== null %}
        {{ govukErrorSummary(errorSummaryArgs) }}
      {% endif %}

      <p class="govuk-caption-xl">{{ presenter.text.label }} </p>
      <h1 class="govuk-heading-xl">{{ presenter.text.title }}</h1>
      {% if presenter.isPrisonDetailsPresent %}
        <h2 class="govuk-heading-l">{{ presenter.text.subTitle }}</h2>
      {% endif %}

      <form method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        {% if presenter.isPrisonDetailsPresent %}
          {% set notTheRightPrisonHtml %}
            {{ govukSelect(prisonSelectArgs) }}
          {% endset -%}
        {{ govukRadios(currentLocationRadioArgs(notTheRightPrisonHtml)) }}
        {% else %}
          {{ govukSelect(prisonSelectArgs) }}  
        {% endif %}

        {{ govukWarningText({
          text: warningText,
          iconFallbackText: "Warning"
          })
        }}

        {{ govukButton({ classes: "confirm-location", text: "Save and continue", preventDoubleClick: true }) }}
      </form>
    </div>
  </div>

<script src="/assets/accessible-autocomplete.min.js"></script>

<script>
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '',
      selectElement: document.querySelector('#prison-select')
    })
    $(function () {
      $('.confirm-location').on('click', function () {
        if (!$.trim($('#prison-select').val()).length) {
          $('.select-location').val('')
        }
    })
  })    
</script>

{% endblock %}



