{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "Make a referral" %}
{% set pageSubTitle = "Submit Referral Type" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink(backLinkArgs) }}
      <br>
      <br>
      {% if errorSummaryArgs !== null %}
        {{ govukErrorSummary(errorSummaryArgs) }}
      {% endif %}

      <p class="govuk-caption-xl">{{ presenter.text.description }} </p>
      </br>

      <form method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        {{ govukRadios(submitPrisonReleaseRadiosArgs(submitLocationHtml)) }}

        {{ govukButton({ text: "Save and continue", preventDoubleClick: true }) }}
      </form>
    </div>
  </div>

{% endblock %}