<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="local">
        <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="stdout" />
        </root>
        <logger name="org.hibernate.SQL" level="debug" additivity="false">
            <appender-ref ref="stdout" />
        </logger>
    </springProfile>

    <springProfile name="!local">
        <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <message/>
                    <loggerName/>
                    <threadName/>
                    <logLevel/>
                    <stackTrace/>
                </providers>
            </encoder>
        </appender>

        <root level="warn">
            <appender-ref ref="stdout" />
        </root>
    </springProfile>
</configuration>
