{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "HMPPS Interventions" %}
{% block pageTitle %}
  {{ pageTitle }}
  - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-7">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Find interventions</h1>

      <p class="govuk-body">
      Welcome to this new repository, where you can find the most appropriate interventions for your service users, according to their region and criminogenic needs. At the moment, you can use this to find:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li><strong>Dynamic Framework</strong> interventions – individual rehabilitation and resettlement services that help to stabilise a service user’s life</li>
        <li><strong>Structured Interventions</strong> – classroom-style group courses aimed at changing behaviours</li>
      </ul>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <form method="get">
        {{ govukCheckboxes(genderCheckboxArgs) }}
        {{ govukCheckboxes(ageCheckboxArgs) }}
        {{ govukCheckboxes(pccRegionCheckboxArgs) }}

        {{ govukButton({ text: "Filter results" }) }}
      </form>

    </div>

    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body"><span class="govuk-!-font-size-36 govuk-!-margin-right-1"><strong>{{presenter.text.results.count}}</strong></span> {{ presenter.text.results.countSuffix }}</p>

      {% for result in presenter.results %}
        <h2 class="govuk-heading-l">
          <a class="govuk-link" href="{{ result.href }}">{{ result.title }}</a>
        </h2>

        <p class="govuk-body">{{ result.body }}</p>

        {{ govukSummaryList(summaryListArgs(result.summary)) }}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      {% endfor %}
    </div>
  </div>
{% endblock %}
