{% extends "./partials/layout.njk" %}

{% block pageTitle %}
  HMPPS Interventions - GOV.UK
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Authorisation Error</h1>
  <p>{{ message }}</p>
{% endblock %}
