{% extends "./partials/layout.njk" %}

{% block pageTitle %}
  HMPPS Interventions - GOV.UK
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">You have been logged out</h1>
{% endblock %}