{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "./formTemplate.njk" %}

{% block formSection %}
  {% include "../../partials/endOfServiceReportAnswers.njk" %}

  <form method="post" action="{{ presenter.formAction }}">
    {{ govukButton({ text: "Submit the report" }) }}
  </form>
{% endblock %}
