{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "../../partials/layout.njk" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummaryArgs !== undefined and errorSummaryArgs !== null %}
        {{ govukErrorSummary(errorSummaryArgs) }}
      {% endif %}

      <h1 class="govuk-heading-xl">{{ presenter.formPagePresenter.text.title }}</h1>

      {% if presenter.formPagePresenter.text.pageNumber %}
        <p class="govuk-hint">Page {{ presenter.formPagePresenter.text.pageNumber }} of {{ presenter.formPagePresenter.text.numberOfPages }}</p>
      {% endif %}

      {% if presenter.text.subTitle %}
        <h2 class="govuk-heading-l">{{ presenter.text.subTitle }}</h2>
      {% endif %}

      {% block formSection %}{% endblock %}
    </div>
  </div>
{% endblock %}
