{% extends "../partials/layout.njk" %}

{% set pageTitle = "HMPPS Interventions" %}
{% block pageTitle %}{{ pageTitle }} - GOV.UK{% endblock %}

{% block content %}

  <main class="app-container">
    <h1 class="govuk-heading-xl">Service provider - receive interventions</h1>
    <p>This is a placeholder for the service provider dashboard page.</p>
  </main>

{% endblock %}
