@import '../helpers';

.dashboard__main {
  display: flex;
  flex-direction: column;
}

.dashboard__cards-wrapper {
  @include full-width-within-govuk-width-container;

  flex: 1;

  margin-bottom: -2.1875rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;

  background: #f0f4f5;

  @media (width > 40em) {
    margin-bottom: -3.75rem;
  }
}

.dashboard__cards {
  display: flex;
  flex-wrap: wrap;
}

.dashboard__card-wrapper {
  display: flex;

  @media (width <= 48.0525em) {
    flex: 0 0 100%;
  }
}

.dashboard__card {
  position: relative;

  width: 100%;
  margin-bottom: 2.5rem;
  padding: 1.5625rem;
  border: 0.0625rem solid #d9dadb;
  border-bottom-width: 0.3125rem;

  background: #fff;

  &--linked {
    &:active {
      bottom: -0.0625rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  @media (width <= 48.0525em) {
    margin-bottom: 0.9375rem;
  }
}

.dashboard__card-heading {
  margin-bottom: 0.9375rem;
}

.dashboard__card-description {
  margin-bottom: 0;
}

.dashboard__card--linked:active,
.dashboard__card--linked:hover {
  border-color: #b1b4b6;

  .dashboard__card-heading,
  .dashboard__card-link {
    color: #003078;
    text-decoration: none;

    &:focus {
      color: #0b0c0c;
      text-decoration: none;

      background-color: #fd0;
      outline: 0.1875rem solid transparent;
      box-shadow:
        0 -0.125rem #fd0,
        0 0.25rem #0b0c0c;
    }
  }
}
