#header-contents {
  align-items: center;
  display: flex;
  justify-content: space-between;

  padding: 5px 0;

  @include govuk-media-query($until: tablet) {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

#site-header-block {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

#logo {
  height: 35px;

  @include govuk-media-query($until: tablet) {
    height: 30px;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

#hmpps-title {
  border-right: white solid 1px;
  font-size: 26px;
  padding: 0 15px;

  @include govuk-media-query($until: desktop) {
    display: none;
  }

  @include govuk-media-query($from: desktop) {
    display: inline;
  }
}

#main-title {
  flex-grow: 1;
  font-size: 26px;
  font-weight: normal;
  padding-left: 15px;
  text-align: left;
  text-decoration: none;

  @include govuk-media-query($until: desktop) {
    font-size: 22px;
    padding-left: 15px;
  }
}

#user-block {
  color: white;
  display: flex;
  float: right;
  height: 30px;
  justify-content: flex-end;

  a {
    color: white;
  }

  div {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 15px;

    @include govuk-media-query($until: tablet) {
      text-align: center;
    }

    &:not(:last-child) {
      border-right: solid white 3px;
    }
  }
}

.refer-and-monitor-header {
  border-bottom: 0;

  #user-block div:not(:last-child) {
    border: 0;
  }
}
