.govuk-review__list {
  &.govuk-grid-column-full {
    padding: 0;
  }

  .govuk-grid-column-two-thirds,
  .govuk-grid-column-full,
  .govuk-grid-column-one-third, {
    padding: 0;
  }

  .govuk-summary-list__key {
    width: 100%;
  }

  strong {
    display: block;
    font-weight: bold;
  }
}
