.govuk-review__list {
  .right {
    float: left;

    @include govuk-media-query($until: tablet) {
      float: right;
    }
  }

  .govuk-grid-column-three-quarters,
  .govuk-grid-column-two-thirds,
  .govuk-grid-column-full,
  .govuk-grid-column-two-thirds {
    padding: 0;
  }

  .govuk-summary-list__key {
    width: 100%;
  }

  strong {
    display: block;
    font-weight: bold;
  }
}
