$refer-and-monitor-rosh-low-colour: #85994b;
$refer-and-monitor-rosh-medium-colour: #f47738;
$refer-and-monitor-rosh-high-colour: #d4351c;
$refer-and-monitor-rosh-very-high-colour: #942514;

.refer-and-monitor__rosh-analysis-table {
  border: 2px solid;
  padding: 20px;

  .rosh-analysis-table__header {
    margin-bottom: 0;
  }

  .rosh-analysis-table__subheader {
    margin-bottom: 10px;
  }

  .rosh-analysis-table__last-updated {
    color: $govuk-secondary-text-colour;
    margin-bottom: 5px;
  }

  .rosh-analysis-table__risk-score {
    font-weight: bold;
  }

  .rosh-analysis-table__risk-score__low {
    color: $refer-and-monitor-rosh-low-colour;
  }

  .rosh-analysis-table__risk-score__medium {
    color: $refer-and-monitor-rosh-medium-colour;
  }

  .rosh-analysis-table__risk-score__high {
    color: $refer-and-monitor-rosh-high-colour;
  }

  .rosh-analysis-table__risk-score__very-high {
    color: $refer-and-monitor-rosh-very-high-colour;
  }

  &.rosh-analysis-table--low {
    border-color: $refer-and-monitor-rosh-low-colour;

    .rosh-analysis-table__header {
      color: $refer-and-monitor-rosh-low-colour;
    }

  }

  &.rosh-analysis-table--medium {
    border-color: $refer-and-monitor-rosh-medium-colour;

    .rosh-analysis-table__header {
      color: $refer-and-monitor-rosh-medium-colour;
    }

  }

  &.rosh-analysis-table--high {
    border-color: $refer-and-monitor-rosh-high-colour;

    .rosh-analysis-table__header {
      color: $refer-and-monitor-rosh-high-colour;
    }

  }

  &.rosh-analysis-table--very-high {
    border-color: $refer-and-monitor-rosh-very-high-colour;

    .rosh-analysis-table__header {
      color: $refer-and-monitor-rosh-very-high-colour;
    }

  }

}
