---
generic-service:
  nameOverride: hmpps-interventions-ui
  replicaCount: 2

  image:
    repository: quay.io/hmpps/hmpps-interventions-ui
    tag: latest
    port: 3000

  env:
    NODE_ENV: "production"
    TOKEN_VERIFICATION_ENABLED: "true"
    REDIS_TLS_ENABLED: "true"

  namespace_secrets:
    # [name of kubernetes secret]:
    #   [name of environment variable as seen by app]: [key of kubernetes secret to load]
    hmpps-auth:
      API_CLIENT_ID: "interventions-ui-client-id.txt"
      API_CLIENT_SECRET: "interventions-ui-client-secret.txt"
      LOGIN_CLIENT_ID: "interventions-login-client-id.txt"
      LOGIN_CLIENT_SECRET: "interventions-login-client-secret.txt"
    session:
      SESSION_SECRET: "interventions-ui-session-secret.txt"
    elasticache-redis:
      REDIS_HOST: "primary_endpoint_address"
      REDIS_AUTH_TOKEN: "auth_token"
    sentry:
      SENTRY_DSN: "ui_dsn"
    application-insights:
      APPLICATIONINSIGHTS_CONNECTION_STRING: "connection_string"
    storage-s3-bucket:
      AWS_S3_BUCKET_NAME: "bucket_name"
      AWS_S3_ACCESSKEYID: "access_key_id"
      AWS_S3_SECRETACCESSKEY: "secret_access_key"

  livenessProbe:
    tcpSocket: { port: 3000 }
    initialDelaySeconds: 10
    timeoutSeconds: 5
    failureThreshold: 5

  readinessProbe:
    tcpSocket: { port: 3000 }
    initialDelaySeconds: 10
    timeoutSeconds: 5
    failureThreshold: 5

  ingress:
    enabled: true
    modsecurity_snippet: |
      SecRuleEngine On
      SecAuditEngine RelevantOnly
      SecAuditLog /var/log/nginx/error.log
      SecAuditLogType Serial
      SecAuditLogParts AHKZ
      SecAuditLogFormat JSON
      SecAction "id:900110,phase:1,nolog,pass,t:none,setvar:tx.inbound_anomaly_score_threshold=6,setvar:tx.outbound_anomaly_score_threshold=4"
      SecRuleUpdateActionById 949110 "t:none,deny,status:423,logdata:%{SERVER_NAME}"
      SecRuleUpdateActionById 959100 "t:none,deny,status:423,logdata:%{SERVER_NAME}"
      SecRuleRemoveById 921110
      SecRuleUpdateTargetById 942100 "!ARGS"  # disable libinjection testing on request args. to disable all SQLi testing, modify rules in the range 942100-942999
