{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "Referral" %}
{% set pageSubTitle = "Add case note" %}

{% block pageContent %}
  {{ govukBackLink(backLinkArgs) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Add case note</h1>
      <p class="govuk-body">
        Case notes are for the probation practitioner and service provider to record and share information about the intervention.
      </p>
      <p class="govuk-body">
        What you add cannot be viewed on any other service.
      </p>

      {{ govukDetails(detailsArgs) }}
      <form method="post" novalidate="novalidate">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        {{ govukInput(subjectInputArgs) }}
        {{ govukTextarea(bodyInputArgs) }}
        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}