{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/badge/macro.njk" import mojBadge -%}

{% extends "../partials/referralNavigationTemplate.njk" %}
{% set pageTitle = "Referral" %}
{% set pageSubTitle = "Case notes" %}

{% block referralPageSection %}
    <form action="{{ presenter.hrefCaseNoteStart }}" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        {{ govukButton({ text: "Add case note" }) }}
    </form>

    <p class="govuk-body">See all case notes about {{ serviceUserName }}</p>
    {{ govukTable(tableArgs(mojBadge)) }}
    {% include "../partials/pagination.njk" %}
{% endblock %}