{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "../partials/layout.njk" %}

{% set pageTitle = "Referral" %}
{% set pageSubTitle = "View case note" %}

{% block pageContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukBackLink(backLinkArgs) }}
            <br>
            <h1 class="govuk-heading-l wrapped-text">Subject: {{ caseNoteSubject | escape }}</h1>
            {{ govukSummaryList(caseNoteSummaryListArgs) }}
            <p class='wrapped-text'>
                {{ caseNoteBody | escape | nl2br }}
            </p>
        </div>
    </div>

{% endblock %}