{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/badge/macro.njk" import mojBadge -%}

{% extends "../partials/referralNavigationTemplate.njk" %}
{% set pageTitle = "Referral" %}
{% set pageSubTitle = "Case notes" %}

{% block referralPageSection %}
    <form action="{{ presenter.hrefCaseNoteStart }}" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        {{ govukButton({ text: "Add case note" }) }}
    </form>

    {% if presenter.tableRows.length == 0 %}
        <h2 class="govuk-heading-m">There are no case notes about {{ serviceUserName }} for this intervention.</h2>
    {% else %}
        <p class="govuk-body">All case notes</p>
    {% endif %}

    {{ govukTable(tableArgs(mojBadge)) }}
    {% include "../partials/pagination.njk" %}
{% endblock %}