{% from "govuk/components/table/macro.njk" import govukTable %}
{% extends "../partials/layout.njk" %}
{% set pageTitle = "Referral" %}
{% set pageSubTitle = "Case notes" %}

{% block pageContent %}
    {{ govukTable(tableArgs) }}
    {% include "../partials/pagination.njk" %}
{% endblock %}