{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "HMPPS Interventions" %}
{% block pageTitle %}
  {{ pageTitle }}
  - GOV.UK
{% endblock %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Check your answers</h1>

      <h2 class="govuk-heading-l">{{ presenter.serviceUserDetailsSection.title }}</h2>

      {{ govukSummaryList(serviceUserDetailsSummaryListArgs) }}

      <h2 class="govuk-heading-l">{{ presenter.riskSection.title }}</h2>

      <p class="govuk-body">{{ presenter.riskSection.text | escape | nl2br }}</p>

      <h2 class="govuk-heading-l">{{ presenter.needsAndRequirementsSection.title }}</h2>

      {{ govukSummaryList(needsAndRequirementsSummaryListArgs) }}

      {% if serviceCategoriesSummaryListArgs %}
        <h2 class="govuk-heading-l">Service categories</h2>

        {{ govukSummaryList(serviceCategoriesSummaryListArgs) }}
      {% endif %}

      <h2 class="govuk-heading-l">Sentence information</h2>

      {{ govukSummaryList(sentenceInformationSummaryListArgs) }}

      {% for section in referralDetailsSections %}
        <h2 class="govuk-heading-l">{{ section.title }}</h2>

        {{ govukSummaryList(section.summaryListArgs) }}
      {% endfor %}

      <h2 class="govuk-heading-l">{{ presenter.completionDeadlineSection.title }}</h2>

      {{ govukSummaryList(completionDeadlineSummaryListArgs) }}

      <h2 class="govuk-heading-l">Enforceable days</h2>

      {{ govukSummaryList(enforceableDaysSummaryListArgs) }}

      <h2 class="govuk-heading-l">Further information</h2>

      {{ govukSummaryList(furtherInformationSummaryListArgs) }}

      <form method="post" action="send">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        {{ govukButton({ text: "Submit referral", preventDoubleClick: true }) }}
      </form>
    </div>
  </div>
{% endblock %}
