{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "../partials/layout.njk" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        {% if errorSummaryArgs !== null %}
          {{ govukErrorSummary(errorSummaryArgs) }}
        {% endif %}

        {{ govukInput(maximumEnforceableDaysInputArgs) }}

        {{ govukButton({ text: "Save and continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}