{% extends "../partials/layout.njk" %}

{% set pageTitle = "Make a referral" %}
{% set pageSubTitle = "Overview" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Make a referral
      </h1>

      <ol class="moj-task-list">
        {% for section in presenter.sections %}
          {% if section.type === 'multi' %}
            <li>
              <strong data-cy="status" class="{{ classForStatus(section.status) }} moj-task-list__task-completed">
                  {{ section.status }}
              </strong>
              <h2 class="moj-task-list__section">
                <span class="moj-task-list__section-number">{{ section.number }}.</span>
                {{ section.title }}
              </h2>
            </li>
            {% for taskListSection in section.taskListSections %}
              <li>
                {% set last = loop.last %}
                {% set multi = true %}
                {% set nested = (taskListSection.title !== undefined) %}
                {% include "./partials/taskListSection.njk" %}
              </li>
            {% endfor %}
          {% elif section.type === 'single' %}
            <li>
              {% set last = false %}
              {% set multi = false %}
              {% set taskListSection = section %}
              {% set nested = false %}
              {% include "./partials/taskListSection.njk" %}
            </li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
  </div>
{% endblock %}
