{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "../partials/layout.njk" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummaryArgs !== null %}
        {{ govukErrorSummary(errorSummaryArgs) }}
      {% endif %}

      {% if presenter.noConvictionsErrorMessage %}
        <h1 class="govuk-fieldset__legend--xl govuk-!-margin-bottom-8">{{ presenter.title }}</h1>
        {{ govukNotificationBanner(noConvictionsNotificationBannerArgs) }}
        <form action="/">
          {{ govukButton({ text: "Back to dashboard" }) }}
        </form>
      {% else %}
        <form method="post">
          <input type="hidden" name="_csrf" value="{{csrfToken}}">

          {{ govukRadios(radioButtonArgs) }}

          {{ govukButton({ text: "Save and continue" }) }}
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}