{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "HMPPS Interventions" %}
{% block pageTitle %}
  {{ pageTitle }}
  - GOV.UK
{% endblock %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummaryArgs !== null %}
        {{ govukErrorSummary(errorSummaryArgs) }}
      {% endif %}

      <h1 class="govuk-heading-xl">{{ presenter.text.title }}</h1>

      {% if presenter.riskSummaryEnabled %}

        <p class="govuk-body">This shows the current ROSH levels and risk to self information from OASys. You can add information for the service provider.</p>

        <h2 class="govuk-heading-l">ROSH analysis</h2>

        {{ govukTable(roshAnalysisTableArgs(govukTag)) }}

        {{ govukDetails(riskLevelDetailsArgs) }}

        {% if presenter.text.whoIsAtRisk or presenter.text.natureOfRisk or presenter.text.riskImminence %}
          <div class="govuk-inset-text">
            The following information is not seen by the service provider:
          </div>
        {% endif %}

        {% if presenter.text.whoIsAtRisk %}
          <h3 class="govuk-heading-m">Who is at risk?</h3>
          <p class="govuk-body">{{ presenter.text.whoIsAtRisk }}</p>
        {% endif %}

        {% if presenter.text.natureOfRisk %}
          <h3 class="govuk-heading-m">What is the nature of the risk?</h3>
          <p class="govuk-body">{{ presenter.text.natureOfRisk }}</p>
        {% endif %}

        {% if presenter.text.riskImminence %}
          <h3 class="govuk-heading-m">When is the risk likely to be greatest?</h3>
          <p class="govuk-body">{{ presenter.text.riskImminence }}</p>
        {% endif %}

      {% endif %}

      <form method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        {{ govukTextarea(additionalRiskInformationTextareaArgs) }}

        {{ govukButton({ text: "Save and continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
