{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = "HMPPS Interventions" %}
{% block pageTitle %}
  {{ pageTitle }}
  - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ presenter.title }}</h1>

      {{ govukSummaryList(summaryListArgs) }}

      <form method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        {{ govukButton({ text: "Save and continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}