{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "HMPPS Interventions" %}
{% block pageTitle %}
  {{ pageTitle }}
  - GOV.UK
{% endblock %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Enter the service user's case identifier
      </h1>

      <p class="govuk-body-l">Retrieve service user's record</p>

      <form action="{{presenter.hrefStartReferral}}" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        {{govukInput(crnInputArgs)}}

        <p>The service user's details will be imported</p>

        <button role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" data-prevent-double-click="true">
          Continue
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
          </svg>
        </button>
      </form>
  </div>

{% endblock %}
