{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "../../../serviceProviderReferrals/actionPlan/actionPlanFormTemplate.njk" %}

{% set pageTitle = "Appointment feedback" %}
{% set pageSubTitle = "Confirm answers" %}

{% block formSection %}
  {{ govukSummaryList(summaryListArgs) }}

  <br>
    {{ summaryListArgs.appointmentTime }}

  {% include "../../../partials/postSessionFeedbackResponses.njk" %}

  <form method="post" action="{{ presenter.submitHref }}">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ govukButton({ text: "Confirm", preventDoubleClick: true }) }}
  </form>
{% endblock %}