{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "../../../serviceProviderReferrals/actionPlan/actionPlanFormTemplate.njk" %}

{% set pageTitle = "Appointment feedback" %}
{% set pageSubTitle = "Add behaviour feedback" %}

{% block formSection %}
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ govukTextarea(textAreaArgs) }}

    {{ govukRadios(radioButtonArgs) }}

    {{ govukButton({ text: "Save and continue" }) }}
  </form>
{% endblock %}