{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "../../../serviceProviderReferrals/actionPlan/actionPlanFormTemplate.njk" %}

{% set pageTitle = "Appointment feedback" %}
{% set pageSubTitle %}
{{ presenter.text.pageSubTitle }}
{% endset -%}

{% block formSection %}
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {% set sessionConcernsTextAreaHtml %}
        {{ govukTextarea(sessionConcernsTextAreaArgs) }}
    {% endset -%}

    {% set sessionBehaviourTextAreaHtml %}
        {{ govukTextarea(sessionBehaviourTextAreaArgs) }}
    {% endset -%}

    {% set lateReasonHtml %}
        {{ govukTextarea(lateReasonTextAreaArgs) }}
    {% endset -%}

    {{ govukRadios(wasLateRadioButtonArgs(lateReasonHtml)) }}
    {{ govukTextarea(sessionSummaryTextAreaArgs) }}
    {{ govukTextarea(sessionResponseTextAreaArgs) }}
    {{ govukCheckboxes(checkboxArgs(sessionConcernsTextAreaHtml, sessionBehaviourTextAreaHtml)) }}
    {{ govukTextarea(futureSessionPlansTextAreaArgs) }}

    {{ govukButton({ text: "Save and continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}