{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../partials/layout.njk" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ presenter.text.title }}</h1>

      <p class="govuk-body">
      Make sure you’ve familiarised yourself with the referral details before assigning it to a caseworker.
      </p>

      <h2 class="govuk-heading-m">Caseworker</h2>

      {{ govukSummaryList(summaryListArgs) }}
      <form method="post" action={{ presenter.formAction }}>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        {{ govukButton({ text: "Confirm assignment", preventDoubleClick: true }) }}
      </form>
    </div>
  </div>
{% endblock %}
