{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{% extends "../partials/layout.njk" %}

{% block primaryNav %}
  {{ mojPrimaryNavigation(primaryNavArgs) }}
{% endblock %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">{{ presenter.title }}</h1>

        {{ mojSubNavigation(subNavArgs) }}
        {{ govukTable(tableArgs) }}

      <script src="/assets/mojSortableTable.js">
      </script>
    </div>
  </div>
{% endblock %}
