{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation %}

{% extends "../partials/layout.njk" %}

{% block primaryNav %}
  {{ mojPrimaryNavigation(primaryNavArgs) }}
{% endblock %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">All cases</h1>
      <p>See all interventions below.</p>

      {{ govukTable(tableArgs) }}

      <script src="/assets/mojSortableTable.js">
      </script>
    </div>
  </div>
{% endblock %}
