{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "Appointment" %}
{% set pageSubTitle = "Confirm answers" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink(backLinkArgs) }}

      <form method="post" action="{{ presenter.formAction }}" novalidate="novalidate">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <h1 class="govuk-heading-xl">{{ presenter.title }}</h1>

        {{ govukSummaryList(summaryListArgs) }}

        {{ govukButton({ text: "Confirm", preventDoubleClick: true }) }}
      </form>
    </div>
  </div>
{% endblock %}
