{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "./actionPlan/actionPlanFormTemplate.njk" %}

{% block formSection %}
  {{ govukSummaryList(summaryListArgs) }}

  <h2 class="govuk-heading-l">Attendance</h2>

  <form method="post" action="#">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ govukRadios(radioButtonArgs) }}

    {{ govukTextarea(textAreaArgs) }}

    {{ govukButton({ text: "Submit for approval" }) }}
  </form>
{% endblock %}