{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "./actionPlan/actionPlanFormTemplate.njk" %}

{% block formSection %}
  {{ govukSummaryList(summaryListArgs) }}

  <br>

  {% if presenter.attendedAnswers %}
    <h3 class="govuk-heading-s">{{ presenter.attendedAnswers.question }}</h3>
    <p>{{ presenter.attendedAnswers.answer }}</p>
  {% endif %}

  {% if presenter.additionalAttendanceAnswers %}
    <h3 class="govuk-heading-s">{{ presenter.additionalAttendanceAnswers.question }}</h3>
    <p>{{ presenter.additionalAttendanceAnswers.answer }}</p>
  {% endif %}

  {% if presenter.behaviourDescriptionAnswers %}
    <h3 class="govuk-heading-s">{{ presenter.behaviourDescriptionAnswers.question }}</h3>
    <p>{{ presenter.behaviourDescriptionAnswers.answer }}</p>
  {% endif %}

  {% if presenter.notifyProbationPractitionerAnswers %}
    <h3 class="govuk-heading-s">{{ presenter.notifyProbationPractitionerAnswers.question }}</h3>
    <p>{{ presenter.notifyProbationPractitionerAnswers.answer }}</p>
  {% endif %}

  <form method="post" action="{{ presenter.submitHref }}">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ govukButton({ text: "Confirm" }) }}
  </form>
{% endblock %}