{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "./actionPlan/actionPlanFormTemplate.njk" %}

{% block formSection %}
  {{ govukSummaryList(summaryListArgs) }}

  <br>

  {% include "../partials/postSessionFeedbackResponses.njk" %}

  <form method="post" action="{{ presenter.submitHref }}">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ govukButton({ text: "Confirm" }) }}
  </form>
{% endblock %}