{% extends "./referralNavigationTemplate.njk" %}

{% block referralPageSection %}
      {% if presenter.text.assignedTo == null %}
        <h3 class="govuk-heading-m">Who do you want to assign this referral to?</h3>
        <form method="get" action={{ presenter.assignmentFormAction }}>
          {{ govukInput(emailInputArgs) }}
          {{ govukButton({ text: "Save and continue" }) }}
        </form>
      {% else %}
        <p class="govuk-body">This intervention is assigned to <strong>{{ presenter.text.assignedTo }}</strong>.</p>
      {% endif %}

      <h2 class="govuk-heading-m">{{ presenter.text.interventionDetailsSummaryHeading }}</h2>
      {{ govukSummaryList(interventionDetailsSummaryListArgs) }}
      <h2 class="govuk-heading-m">Service user's personal details</h2>
      {{ govukSummaryList(serviceUserDetailsSummaryListArgs) }}
      <h2 class="govuk-heading-m">Service user's risk information</h2>
      {{ govukSummaryList(serviceUserRisksSummaryListArgs) }}
      <h2 class="govuk-heading-m">Service user's needs</h2>
      {{ govukSummaryList(serviceUserNeedsSummaryListArgs) }}
      <h2 class="govuk-heading-m">Referring probation practitioner details</h2>
      {{ govukSummaryList(probationPractitionerSummaryListArgs) }}
{% endblock %}
