{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% extends "./actionPlan/actionPlanFormTemplate.njk" %}

{% set pageTitle = "Action plan" %}
{% set pageSubTitle = "Confirm answers" %}

{% block formSection %}
  <h2 class="govuk-heading-l">
    Desired outcomes and activities
  </h2>

  {% for serviceCategoryWithDesiredOutcomes in presenter.actionPlanPresenter.desiredOutcomesByServiceCategory %}
    <h3 class="govuk-heading-m">{{ serviceCategoryWithDesiredOutcomes.serviceCategory }}</h3>
    <ul class="govuk-list govuk-list--bullet">
      {% for desiredOutcome in serviceCategoryWithDesiredOutcomes.desiredOutcomes %}
        <li>{{ desiredOutcome }}</li>
      {% endfor %}
    </ul>
  {% endfor %}

  {% for activity in presenter.actionPlanPresenter.orderedActivities %}
    {{ govukInsetText(insetTextArgs(loop.index, activity.description)) }}
  {% endfor %}

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <h2 class="govuk-heading-l">
    Suggested number of sessions for the action plan
  </h2>

  <p class="govuk-body">
    Suggested number of sessions: {{ presenter.actionPlanPresenter.text.actionPlanNumberOfSessions }}
  </p>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <form method="post" action="{{ presenter.submitFormAction }}">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{ govukButton({ text: "Submit for approval" }) }}
  </form>
{% endblock %}