{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "HMPPS Interventions" %}
{% block pageTitle %}{{ pageTitle }} - GOV.UK{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Track progress of each intervention</h2>
        <div class="govuk-notification-banner govuk-success-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              Session details have been updated
            </p>
          </div>
        </div>
        {%  set completedTagHtml %}
        {{govukTag({
          text: "COMPLETED",
          classes: "govuk-tag--green"
        })}}
        {% endset -%}
        {%  set draftTagHtml %}
        {{govukTag({
          text: "IN DRAFT",
          classes: "govuk-tag--yellow"
        })}}
        {% endset -%}
        {%  set awaitingfeedbackTagHtml %}
        {{govukTag({
          text: "AWAITING FEEDBACK",
          classes: "govuk-tag--red"
        })}}
        {% endset -%}
        {%  set noshowTagHtml %}
        {{govukTag({
          text: "To be rescheduled",
          classes: "govuk-tag--purple"
        })}}
        {% endset -%}
        {%  set inactiveTagHtml %}
        {{govukTag({
          text: "NOT SCHEDULED",
          classes: "govuk-tag--grey"
        })}}
        {% endset -%}
        {%  set scheduledTagHtml %}
        {{govukTag({
          text: "SCHEDULED",
          classes: "govuk-tag--blue"
        })}}
        {% endset -%}
        {%  set activeTagHtml %}
        {{govukTag({
          text: "TODAY"
        })}}
        {% endset -%}

            {{ govukTable({
              firstCellIsHeader: true,
              head: [
                {
                  text: "Session details"
                },
                {
                  text: "Date and time"
                },
                {
                  text: "Status"
                },
                {
                  text: "Action"
                }
              ],
              rows: [
                [
                  {
                    text: 'Introduction to independent living and healthcare'
                  },
                  {
                    text: '20 Dec 2021 5:00pm to 6:00pm'
                  },
                  {
                    html: completedTagHtml
                  },
                  {
                    html: '<a class="govuk-link" href="#">View feedback</a>'
                  }
                ],
                [
                  {
                    text: 'Session'
                  },
                  {
                    text: '20 Dec 2021 5:00pm to 6:00pm'
                  },
                  {
                    html: draftTagHtml
                  },
                  {
                    html: '<a class="govuk-link" href="#">Continue feedback</a>'
                  }
                ],
                [
                  {
                    text: 'Session'
                  },
                  {
                    html: '20 Dec 2021 5:00pm to 6:00pm'
                  },
                  {
                    html: draftTagHtml
                  },
                  {
                    html: '<a class="govuk-link" href="#">Continue feedback</a>' 
                  }
                ],
                [
                  {
                    text: 'Childcare and personal development'
                  },
                  {
                    text: '20 Dec 2021 5:00pm to 6:00pm'
                  },
                  {
                    html: awaitingfeedbackTagHtml
                  },
                  {
                    html: '<a class="govuk-link" href="#">Give feedback</a>'
                  }
                ],
                [
                  {
                    text: 'Session'
                  },
                  {
                    text: '20 Dec 2021 5:00pm to 6:00pm'
                  },
                  {
                    html: awaitingfeedbackTagHtml
                  },
                  {
                    html: '<a class="govuk-link" href="#">Give feedback</a>'
                  }
                ],
                [
                  {
                    text: 'Session'
                  },
                  {
                    text: '20 Dec 2021 5:00pm to 6:00pm'
                  },
                  {
                    html: noshowTagHtml
                  },
                  {
                    html: '<a class="govuk-link" href="#">Reschedule session</a>'
                  }
                ],
                [
                  {
                    text: 'Session'
                  },
                  {
                    text: '20 Dec 2021 5:00pm to 6:00pm'
                  },
                  {
                    html: activeTagHtml
                  },
                  {
                    html: '<a class="govuk-link" href="#">Edit session details</a>'
                  }
                ],
                [
                  {
                    text: 'Session'
                  },
                  {
                    html: '20 Dec 2021 5:00pm to 6:00pm'
                  },
                  {
                    html: scheduledTagHtml
                  },
                  {
                    html: '<a class="govuk-link" href="#">Edit session details</a>'
                  }
                ],
                [
                  {
                    text: 'Session'
                  },
                  {
                    html: '20 Dec 2021 5:00pm to 6:00pm'
                  },
                  {
                    html: inactiveTagHtml
                  },
                  {
                    html: '<a class="govuk-link" href="#">Edit session details</a>'
                  }
                ],
                [
                  {
                    text: 'Session'
                  },
                  {
                    html: '20 Dec 2021 5:00pm to 6:00pm'
                  },
                  {
                    html: inactiveTagHtml
                  },
                  {
                    html: '<a class="govuk-link" href="#">Edit session details</a>'
                  }
                ]
              ]
            }) }}
      </div>
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m"> sidebar</h3>
        <p class="govuk-body">This is a paragraph inside a one-third wide column</span>
      </div>

{% endblock %}
