{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "HMPPS Interventions" %}
{% block pageTitle %}{{ pageTitle }} - GOV.UK{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l"> Track progress of each intervention</h2>
        {%  set completedTagHtml %}
        {{govukTag({
          text: "COMPLETED",
          classes: "govuk-tag--green"
        })}}
        {% endset -%}
        {%  set draftTagHtml %}
        {{govukTag({
          text: "IN DRAFT",
          classes: "govuk-tag--yellow"
        })}}
        {% endset -%}
        {%  set awaitingfeedbackTagHtml %}
        {{govukTag({
          text: "AWAITING FEEDBACK",
          classes: "govuk-tag--red"
        })}}
        {% endset -%}
        {%  set noshowTagHtml %}
        {{govukTag({
          text: "NO SHOW",
          classes: "govuk-tag--purple"
        })}}
        {% endset -%}
        {%  set inactiveTagHtml %}
        {{govukTag({
          text: "NOT SCHEDULED",
          classes: "govuk-tag--grey"
        })}}
        {% endset -%}
        {%  set scheduledTagHtml %}
        {{govukTag({
          text: "SCHEDULED",
          classes: "govuk-tag--blue"
        })}}
        {% endset -%}
        {%  set activeTagHtml %}
        {{govukTag({
          text: "TODAY"
        })}}
        {% endset -%}

            {{ govukTable({
              firstCellIsHeader: true,
              head: [
                {
                  text: "Session details"
                },
                {
                  text: "Date and time"
                },
                {
                  text: "Status"
                },
                {
                  text: "Action"
                }
              ],
              rows: [
                [
                  {
                    html: '<span>Introduction to independent living and healthcare</span>
                    <span><br><a class="govuk-link" href="http://localhost:3000/service-provider/session/show">Edit details</a></span>'
                  },
                  {
                    html: '20 Dec 2021 <br> 5:00pm to 6:00pm'
                  },
                  {
                    html: completedTagHtml
                  },
                  {
                    html: '<a class="govuk-link" href="#">View feedback</a>'
                  }
                ],
                [
                  {
                    html: '<span>Session</span>
                    <span><br><a class="govuk-link" href="http://localhost:3000/service-provider/session/show">Edit details</a></span>'
                  },
                  {
                    html: '20 Dec 2021 <br> 5:00pm to 6:00pm'
                  },
                  {
                    html: draftTagHtml
                  },
                  {
                    html: '<a class="govuk-link" href="#">Continue feedback</a>'
                  }
                ],
                [
                  {
                    html: '<span>Session</span>
                    <span><br><a class="govuk-link" href="http://localhost:3000/service-provider/session/show">Edit details</a></span>'
                  },
                  {
                    html: '20 Dec 2021 5:00pm to 6:00pm'
                  },
                  {
                    html: draftTagHtml
                  },
                  {
                    html: '<a class="govuk-link" href="#">Continue feedback</a>' 
                  }
                ],
                [
                  {
                    html: '<span>Childcare and personal development</span>
                    <span><br><a class="govuk-link" href="http://localhost:3000/service-provider/session/show">Edit details</a></span>'
                  },
                  {
                    html: '20 Dec 2021 5:00pm to 6:00pm'
                  },
                  {
                    html: awaitingfeedbackTagHtml
                  },
                  {
                    html: '<a class="govuk-link" href="#">Give feedback</a>'
                  }
                ],
                [
                  {
                    html: '<span>Session</span>
                    <span><br><a class="govuk-link" href="http://localhost:3000/service-provider/session/show">Edit details</a></span>'
                  },
                  {
                    html: '20 Dec 2021 5:00pm to 6:00pm'
                  },
                  {
                    html: awaitingfeedbackTagHtml
                  },
                  {
                    html: '<a class="govuk-link" href="#">Give feedback</a>'
                  }
                ],
                [
                  {
                    html: '<span>Session</span>
                    <span><br><a class="govuk-link" href="http://localhost:3000/service-provider/session/show">Edit details</a></span>'
                  },
                  {
                    html: '20 Dec 2021 5:00pm to 6:00pm'
                  },
                  {
                    html: noshowTagHtml
                  },
                  {
                    html: '<a class="govuk-link" href="#">View feedback</a>'
                  }
                ],
                [
                  {
                    html: '<span>Session</span>
                    <span><br><a class="govuk-link" href="http://localhost:3000/service-provider/session/show">Edit details</a></span>'
                  },
                  {
                    html: '20 Dec 2021 5:00pm to 6:00pm'
                  },
                  {
                    html: activeTagHtml
                  },
                  {
                    text: ""
                  }
                ],
                [
                  {
                    html: '<span>Session</span>
                    <span><br><a class="govuk-link" href="http://localhost:3000/service-provider/session/show">Edit details</a></span>'
                  },
                  {
                    html: '20 Dec 2021 5:00pm to 6:00pm'
                  },
                  {
                    html: scheduledTagHtml
                  },
                  {
                    text: ""
                  }
                ],
                [
                  {
                    html: '<span>Session</span>
                    <span><br><a class="govuk-link" href="http://localhost:3000/service-provider/session/show">Edit details</a></span>'
                  },
                  {
                    html: '20 Dec 2021 5:00pm to 6:00pm'
                  },
                  {
                    html: inactiveTagHtml
                  },
                  {
                    text: ""
                  }
                ],
                [
                  {
                    html: '<span>Session</span>
                    <span><br><a class="govuk-link" href="http://localhost:3000/service-provider/session/show">Edit details</a></span>'
                  },
                  {
                    html: '20 Dec 2021 5:00pm to 6:00pm'
                  },
                  {
                    html: inactiveTagHtml
                  },
                  {
                    text:""
                  }
                ]
              ]
            }) }}
      </div>
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m"> sidebar</h3>
        <p class="govuk-body">This is a paragraph inside a one-third wide column</span>
      </div>

{% endblock %}
