{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "HMPPS Interventions" %}
{% block pageTitle %}
  {{ pageTitle }}
  - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ presenter.text.title }}</h1>

      <h2 class="govuk-heading-m">Referring probation practitioner details</h2>

      {{ govukSummaryList(probationPractitionerSummaryListArgs) }}
    </div>
  </div>
{% endblock %}
