{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "../partials/layout.njk" %}

{% block pageTitle %}
  HMPPS Interventions - GOV.UK
{% endblock %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukBackLink(backLinkArgs) }}

      <h1 class="govuk-heading-xl">View appointment details</h1>

      {{ govukSummaryList(summaryListArgs) }}
    </div>
  </div>
{% endblock %}
