{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "What's new" %}

{% block pageContent %}
  {{ govukButton(backButtonArgs) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">What's new</h1>

      <h2 class="govuk-heading-m">Sharing better information about sessions</h2>

      <p>
        We’ve made some changes to enable you to give better session feedback in Refer and monitor an intervention. You now need to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>indicate if a session happened or not</li>
        <li>feed back on sessions which did not happen but the person on probation attended, for example because the caseworker was absent</li>
        <li>indicate if nobody knows if the person attended, for example it was a phone call and the service provider caseworker could not attend</li>
        <li>share details about lateness, such as how late someone was and any reason they gave</li>
        <li>reschedule a session whilst you’re giving feedback, to save you time</li>
      </ul>

      <p>You also have the option to outline what you have planned for the next session.</p>

      <h2 class="govuk-heading-m">Give feedback on the changes</h2>

      <p>We’d like to know what you think. Please share your feedback in this <a class="govuk-link" href="#">one-question survey.</a></p>
    </div>
  </div>
{% endblock %}
