{% extends "../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "moj/components/timeline/macro.njk" import mojTimeline %}

{% set pageTitle = "What's new" %}

{% block pageContent %}
  {{ govukBackLink(backButtonArgs) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">What's new</h1>
      <p>Find out about recent changes to Refer and monitor an intervention.</p>

      {% set whatsNewVersion2Html %}
      <p>When you create a case note you now need to choose whether the probation practitioner needs an email with a link to it. They’re still able to read all case notes in the service. </p>
      <p>This is to help reduce the amount of case note emails we send to probation practitioners.</p>
      <p>You may choose not to send an email about case notes of email threads, or session reminders you’ve sent to people on probation. This is to help probation practitioners identify what’s important or urgent.</p>

      <h3 class="govuk-heading-s">Why we’ve made the change</h2>
      <p>This is in response to your feedback. It’s so that you’re only emailed about things which are important or urgent. Please <a href="https://eu.surveymonkey.com/r/H6K5JG3">share your feedback in this survey</a>.</p>
      {% endset %}

      {% set whatsNewVersion1Html %}
            <h3 class="govuk-heading-s">New functionality</h3>
            <p>
              Following our improvements to community referrals in June, we have released new functionality for the remaining referral types:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>pre-release referrals with an allocated COM</li>
              <li>pre-release referrals without an allocated COM (includes referrals from PRTs)</li>
              <li>custodial referrals without an allocated COM</li>
            </ul>
            <p>This ensures that the most appropriate information is passed onto service providers for each referral type.</p>

            <h3 class="govuk-heading-s">Contact details for unallocated referrals</h3>
            <p>Referrers are now asked to provide a main point of contact when there is no allocated COM. This will enable service providers to contact the right person about the referral and reduce time spent finding someone to contact.</p>

            <h3 class="govuk-heading-s">Full contact details for service providers</h3>
            <p>We are now providing service providers with a fuller range of contact details for the referral. When making a referral, referrers are asked to review and confirm/update these contact details so they are correct.</p>

            <h3 class="govuk-heading-s">Improved service provider caselist dashboard</h3>
            <p>Service providers now have better at-a-glance information for expected release date, location and CRN on their caselist dashboard.</p>

            <h3 class="govuk-heading-s">Give feedback on the changes</h2>
            <p>We’d like to know what you think. Please <a href="https://eu.surveymonkey.com/r/H6K5JG3">complete this short survey</a>.</p>
          {% endset %}

          {{ mojTimeline({
                  items: [
                    {
                      label: {
                        text: "Helping to reduce emails to probation practitioners"
                      },
                      html: whatsNewVersion2Html,
                      datetime: {
                        timestamp: "2023-12-07",
                        type: "date"
                      }
                    },
                    {
                      label: {
                        text: "Changes to making a referral"
                      },
                      html: whatsNewVersion1Html,
                      datetime: {
                        timestamp: "2023-10-16",
                        type: "date"
                      }
                    }
                  ]
                })
              }}
    </div>
  </div>
{% endblock %}
