{% extends "../partials/layout.njk" %}

{% set pageTitle = "Accessibility Statement" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Accessibility Statement</h1>
      <p class="govuk-body">This page only contains information about the Refer and monitor an intervention service, available at <a href="https://refer-monitor-intervention.service.justice.gov.uk/">https://refer-monitor-intervention.service.justice.gov.uk/</a>.</p>
      <h2 class="govuk-heading-l">Using this service</h2>
      <p class="govuk-body">This service is run by HMPPS Digital Services. We want as many people as possible to be able to use this service.</p>
      <p class="govuk-body">For example, that means you should be able to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>change colours, contrast levels and fonts</li>
          <li>zoom in up to 300% without the text spilling off the screen</li>
          <li>get from the start of the service to the end using just a keyboard</li>
          <li>get from the start of the service to the end using speech recognition software</li>
          <li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        </ul>
      <p class="govuk-body">We’ve also made the text in the service as simple as possible to understand.</p>
      <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

      <h2 class="govuk-heading-m">How accessible this service is</h2>
      <p class="govuk-body">We know some parts of this service are not fully accessible:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>some documents are in PDF or other non-HTML formats and are not accessible</li>
        <li>some tables do not have row headings</li>
      </ul>

      <h2 class="govuk-heading-m">Feedback and contact information</h2>
      <p class="govuk-body">If you have difficulty using this service, email <a href="mailto:refer-and-monitor-feedback@digital.justice.gov.uk" class="govuk-link">refer-and-monitor-feedback@digital.justice.gov.uk</a>.</p>
      <p class="govuk-body">As part of providing this service, we may need to send you messages or documents. We’ll ask you how you want us to send messages or documents to you, but contact us if you need them in a different format. For example large print, audio recording or braille.</p>

      <h2 class="govuk-heading-m">Reporting accessibility problems with this service</h2>
      <p class="govuk-body">We’re always looking to improve the accessibility of this service.</p>
      <p class="govuk-body">If you find any problems that are not listed on this page or think we’re not meeting accessibility requirements, email <a href="mailto:refer-and-monitor-feedback@digital.justice.gov.uk" class="govuk-link">refer-and-monitor-feedback@digital.justice.gov.uk</a>.</p>

      <h2 class="govuk-heading-m">Enforcement procedure</h2>
      <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>
      <p class="govuk-body">If you’re not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">Equality Advisory and Support Service (EASS)</a>.</p>

      <h2 class="govuk-heading-m">Technical information about this service’s accessibility</h2>
      <p class="govuk-body">HMPPS Digital Services is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

      <h3 class="govuk-heading-s">Compliance status</h3>
      <p class="govuk-body">This service is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link">Web Content Accessibility Guidelines version 2.1 AA standard</a>, due to the non compliances listed below.</p>

      <h2 class="govuk-heading-m">Non-accessible content</h2>
      <p class="govuk-body">The content listed below is non accessible for the following reasons.</p>

      <h3 class="govuk-heading-s">Non-compliance with the accessibility regulations</h3>
      <ol class="govuk-list govuk-list--number">
        <li>PDFs and other documents are not accessible in a number of ways including missing text alternatives and missing document structure. This fails <a href="https://www.w3.org/TR/WCAG21/#non-text-content">WCAG 1.1.1 A (Non-text Content)</a> and <a href="https://www.w3.org/TR/WCAG21/#page-titled">WCAG 2.4.2 A (Page Titled)</a>. These documents are automatically extracted from an external service (NDelius). We are assessing how to fix this issue and when it may be fixed by.</li>
      </ol>
      <p class="govuk-body">This service is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link">Web Content Accessibility Guidelines version 2.1 AA standard</a>, due to the non compliances listed below.</p>

      <h3 class="govuk-heading-m">Disproportionate burden</h3>
      <p class="govuk-body">Not applicable.</p>

      <h3 class="govuk-heading-m">Content that’s not within the scope of the accessibility regulations</h3>
      <p class="govuk-body">Not applicable.</p>

      <h2 class="govuk-heading-m">How we tested this website</h2>
      <p class="govuk-body">We use the Web Content Accessibility Guidelines V2.1 level A and level AA to test how accessible GOV.UK is.</p>
      <p class="govuk-body">We carried out an internal audit using Accessibility Insights to complete a comprehensive audit of each page of the Find and Refer part of the service.</p>

      <h2 class="govuk-heading-m">What we are doing to improve accessibility</h2>
      <p class="govuk-body">We’ll carry out on-going internal audits to check the accessibility of this service as well as taking feedback from users.</p>
      <p class="govuk-body">Any required changes will be planned into our continuous improvement work for this service.</p>
      <p class="govuk-body">This accessibility statement will be updated based on any issues we identify or any changes we make to address any issues raised.</p>

      <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
      <p class="govuk-body">This statement was prepared on Thursday 3 March 2021. It was last reviewed on Wednesday 18 August 2021.</p>
      <p class="govuk-body">This service was last tested in July 2021. The test was carried out by the Ministry of Justice Assistive Technology Support Team.</p>
  </div>
{% endblock %}
