{% extends "../partials/layout.njk" %}

{% set pageTitle = "Delivery schedule" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Refer and monitor an intervention delivery schedule</h1>

      <p>
      The Refer and monitor an intervention delivery schedule shows the things we’re working on and when we expect to have them ready for you to use.
      </p>

      <p>
      The delivery schedule is a guide to what we have planned, but some things might change. If you’re experiencing difficulties using Refer and monitor an intervention, please contact us via the <a href="/report-a-problem">report a problem page</a>.
      </p>

      <h2 class="govuk-heading-m">August to September 2021</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Supplier reporting CSV</li>
        <li>Action plan improvements</li>
        <li>Content improvements to help probation practitioners create quality referrals</li>
        <li>Case list views improvements – user specific case lists rather than organisation specific</li>
        <li>Case notes</li>
        <li>Updated risk flows</li>
      </ul>

      <h2 class="govuk-heading-m">October to December 2021</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Editing a referral</li>
        <li>Editing an intervention listing</li>
        <li>Access revisions and improvements</li>
      </ul>
    </div>
  </div>
{% endblock %}
