{% extends "../partials/layout.njk" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Report a problem</h1>

      <h3 class="govuk-heading-s">NPS staff</h3>
      <p class="govuk-body">To report a problem with this digital service, please contact the helpdesk on 0800 917 5148</p>

      <h3 class="govuk-heading-s">Suppliers</h3>
      <p class="govuk-body">To report a problem with this digital service, please contact your helpdesk who will contact the digital service team if necessary.</p>
      <p class="govuk-body">If your organisation does not have an IT helpdesk, please contact the helpdesk on 0800 917 5148</p>

      <h2 class="govuk-heading-m">Learning and resources for NPS staff</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="https://intranet.noms.gsi.gov.uk/corporate/probation-changes/Commissioned-Rehabilitative-Services/your-learning-probation-practitioners-and-contract-managers">NPS Intranet Learning Section</a></li>
        <li><a class="govuk-link" href="https://welcome-hub.hmppsintranet.org.uk/our-new-probation-service/our-new-operating-model/commissioned-rehabilitative-services/">Welcome Hub</a></li>
        <li><a class="govuk-link" href="https://welcome-hub.hmppsintranet.org.uk/our-new-probation-service/our-new-operating-model/commissioned-rehabilitative-services/your-learning-probation-practitioners-and-contract-managers/">Welcome Hub CRS Learning</a></li>
      </ul>

      <h2 class="govuk-heading-m">Learning and resources for suppliers</h2>

      <p class="govuk-body">If you work for a supplier of commissioned rehabilitative services (CRS) then there are a number of helpful guides to support you in providing the best support for probation practitioners and service users.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="https://welcome-hub.hmppsintranet.org.uk/wp-content/uploads/2021/05/Quick-start-guide.pptx">Quick start guide</a></li>
        <li><a class="govuk-link" href="https://welcome-hub.hmppsintranet.org.uk/wp-content/uploads/2021/05/How-do-I%E2%80%A6-Complete-end-of-service-report.pptx">How do I complete end of service report</a></li>
        <li><a class="govuk-link" href="https://welcome-hub.hmppsintranet.org.uk/wp-content/uploads/2021/05/How-do-I%E2%80%A6-Record-compliance-and-progress.pptx">How do I record compliance and progress</a></li>
        <li><a class="govuk-link" href="https://welcome-hub.hmppsintranet.org.uk/wp-content/uploads/2021/05/What-can-I-expect-from-...Referral-form.pptx">What can I expect from a referral form</a></li>
        <li><a class="govuk-link" href="https://welcome-hub.hmppsintranet.org.uk/wp-content/uploads/2021/05/How-do-I%E2%80%A6-Create-and-manage-user-accounts.pptx">How do I create and manage user accounts</a></li>
        <li><a class="govuk-link" href="https://welcome-hub.hmppsintranet.org.uk/wp-content/uploads/2021/05/Referral-Journey.pdf">Referral journey</a></li>
        <li><a class="govuk-link" href="https://welcome-hub.hmppsintranet.org.uk/wp-content/uploads/2021/05/How-do-I%E2%80%A6-Receive-and-assign-referrals.pptx">How do I receive and assign referrals</a></li>
        <li><a class="govuk-link" href="https://welcome-hub.hmppsintranet.org.uk/wp-content/uploads/2021/05/How-do-I%E2%80%A6-Complete-initial-assessment-and-action-plan.pptx">How do I complete initial assessment and action plan</a></li>
      </ul>

      <h2 class="govuk-heading-m">Delivery schedule</h2>

      <p class="govuk-body">If you’d like to know what the team is working on and what will be added to the service in the near future, you can see the <a href="/delivery-schedule" class="govuk-link">delivery schedule</a>.</p>

    </div>
  </div>
{% endblock %}
