{% if taskListSection.title !== undefined %}
<h2 class="moj-task-list__section {{ "govuk-!-margin-left-9" if nested }}">
    {% if taskListSection.number !== undefined %}
      <span class="moj-task-list__section-number {{ "govuk-!-padding-right-2" if nested }}">{{ taskListSection.number }}.</span>
    {% endif %}
  {{ taskListSection.title }}
</h2>
{% endif %}

<ul class="moj-task-list__items {{"moj-task-list__items-multi " if multi}} {{"moj-task-list__items-last-of-section " if last}} {{ "moj-task-list__items-nested" if nested }}">
  {% for task in taskListSection.tasks %}
    <li class="moj-task-list__item">
      {% if task.url !== null %}
        <a data-cy="url" class="moj-task-list__task-name" href="{{ task.url }}">{{ task.title }}</a>
      {% else %}
        <span data-cy="url" class="app-task-list__task-name">{{ task.title }}</span>
      {% endif %}
    {% if task.status !== undefined %}
      <strong data-cy="status" class="{{ classForStatus(task.status) }} moj-task-list__task-completed">
        {{ task.status }}
      </strong>
    {% endif %}   
    </li>
  {% endfor %}
</ul>
