generic-service:
  ingress:
    host: hmpps-interventions-ui-dev.apps.live-1.cloud-platform.service.justice.gov.uk
  env:
    INGRESS_URL: "https://hmpps-interventions-ui-dev.apps.live-1.cloud-platform.service.justice.gov.uk"
    DEPLOYMENT_ENV: dev
    HMPPS_AUTH_URL: https://sign-in-dev.hmpps.service.justice.gov.uk/auth
    COMMUNITY_API_URL: https://community-api-secure.test.delius.probation.hmpps.dsd.io
    INTERVENTIONS_SERVICE_URL: https://hmpps-interventions-service-dev.apps.live-1.cloud-platform.service.justice.gov.uk
    ASSESS_RISKS_AND_NEEDS_API_URL: https://assess-risks-and-needs-dev.hmpps.service.justice.gov.uk
    TOKEN_VERIFICATION_API_URL: https://token-verification-api-dev.prison.service.justice.gov.uk
    GA_ID: G-0DK8Q58Z3D
    FEATURE_SP_REPORTING_ENABLED: true
    FEATURE_PREVIOUSLY_APPROVED_ACTION_PLANS: true
    ASSESS_RISKS_AND_NEEDS_API_RISK_SUMMARY_ENABLED: true
