# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

image:
  repository: quay.io/hmpps/hmpps-interventions-service
  tag: latest
  port: 8080

ingress:
  enabled: true
  hosts:
    - host: hmpps-interventions-service-dev.apps.live-1.cloud-platform.service.justice.gov.uk
  path: /

env:
  JAVA_OPTS: "-Xmx512m"
