{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% extends "../partials/referralNavigationTemplate.njk" %}


{% block referralPageSection %}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
      <table class="govuk-table">
      {% if presenter.changeLogs.length == 0 %}
      <p>No part of the referral has been changed since it was submitted</p>
      {% endif %}
         {% for row in presenter.changeLogs %} 

            <tr class="govuk-table__row">

               <div class="card">
                  <div class="card-header">
                     <h3><a class="govuk-link--no-visited-state:visited govuk-label--m changelog-link" href="{{row.changeLogUrl}}">{{ row.changeLog.description }}</a></h3>
                     <p>{{ row.changeLog.changedAt }}</p>
                     <p><strong>Change made by {{ row.changeLog.name }}</strong></p>
                  </div>
                 <div class="card-body">
                  <p>{{ row.changeLog.reasonForChange.substring(0, 20)}}... <a class="govuk-link--no-visited-state:visited  govuk-label--xs changelog-link" href="{{row.changeLogUrl}}">Read full details of the change</a></p>
                 </div>
               </div>
                 <br>
                 <br>
            </tr>
      {% endfor %}
      </table>
   </div>
</div>
{% endblock %}