{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% extends "../partials/layout.njk" %}
{% set pageTitle = "Make a referral" %}
{% set pageSubTitle = "Select complexity level" %}
{% block pageContent %}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-three-quarters">
      <table class="govuk-table">
         {% for row in presenter.changeLogs %} 
         <thead class="govuk-table__head">
            <tr class="govuk-table__row">
               <th scope="col" class="govuk-table__header govuk-accordion__section">
                  <div class="govuk-template">
                     <div class="govuk-!-margin-top-5 govuk-!-margin-bottom-7">
                        <div class="govuk-!-margin-left-7 govuk-!-margin-top-5">
                           <h3><a class="govuk-link--no-visited-state:visited govuk-label govuk-label--m" href="row.changeLogUrl">{{ row.changeLog.topic }}</a></h3>
                           <p>{{ row.changeLog.changedAt }}</p>
                           <p><strong>{{ row.changeLog.name }}</strong></p>
                        </div>
                     </div>
                  </div>
               </th>
            </tr>
         </thead>
         <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
               <th scope="row" class="govuk-table__header">
                  <div class="govuk-template__body">
                     <div class="govuk-!-margin-left-7 govuk-!-margin-top-5">
                        {% if row.changeLog.reasonForChange.length >=40 %}
                        <p>{{ row.changeLog.reasonForChange.substring(0, 40)}}... <a class="govuk-link--no-visited-state:visited  govuk-label--xs" href="row.changeLogUrl">Read full details of the change</a></p>
                        {% else %}
                        <p>{{ row.changeLog.reasonForChange }}</p>
                        {% endif %}
                     </div>
                  </div>
               </th>
            </tr>
         </tbody>
         {% endfor %}
      </table>
   </div>
</div>
{% endblock %}