{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% extends "../partials/referralNavigationTemplate.njk" %}


{% block referralPageSection %}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
      <table class="govuk-table">
      {% if presenter.changeLogs.length == 0 %}
      <p>No referral amend changed</p>
      {% endif %}
         {% for row in presenter.changeLogs %} 
         <thead class="govuk-table__head">
            <tr class="govuk-table__row">
               <th scope="col" class="govuk-table__header govuk-accordion__section">
                  <div class="govuk-template">
                     <div class="govuk-!-margin-top-5 govuk-!-margin-bottom-7">
                        <div class="govuk-!-margin-left-7 govuk-!-margin-top-5">
                           <h3><a class="govuk-link--no-visited-state:visited govuk-label govuk-label--m" href="row.changeLogUrl">{{ row.changeLog.description }}</a></h3>
                           <p>{{ row.changeLog.changedAt }}</p>
                           <p><strong>Change made by {{ row.changeLog.name }}</strong></p>
                        </div>
                     </div>
                  </div>
               </th>
            </tr>
         </thead>
         <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
               <th scope="row" class="govuk-table__header">
                  <div class="govuk-template__body">
                     <div class="govuk-!-margin-left-7 govuk-!-margin-top-5">
                        <p>{{ row.changeLog.reasonForChange }}</p>   
                     </div>
                  </div>
               </th>
            </tr>
         </tbody>
         {% endfor %}
         
      </table>
   </div>
</div>
{% endblock %}