{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = "Action plan" %}
{% set pageSubTitle = "Approved" %}

{% block pageContent %}
    {% block content %}
    <div class="govuk-grid-column-two-thirds">
        {{ govukPanel({ titleText: "Action plan approved" }) }}

        <h2 class="govuk-heading-m">What happens next?</h2>
        <p class="govuk-body">The service provider will be able to start adding details to the sessions suggested in the action plan.</p>

        {{ govukButton(backButtonArgs) }}
    </div>
    {% endblock %}
{% endblock %}