{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "Referral" %}
{% set pageSubTitle = "Referrals" %}

{% block primaryNav %}
  {{ mojPrimaryNavigation(primaryNavArgs) }}
{% endblock %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">{{ presenter.title }}</h1>

        {{ mojSubNavigation(subNavArgs) }}
        {% include "../partials/pagination.njk" %}
        <hr class="govuk-section-break govuk-section-break--m">
        {{ govukTable(tableArgs) }}

      <script src="/assets/mojSortableTable.js">
      </script>
    </div>
  </div>
{% include "../partials/pagination.njk" %}

{% endblock %}
