{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% extends "../partials/layout.njk" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">End of service report</h1>

      <p class="govuk-body">{{ presenter.text.introduction }}</p>

      {% include "../partials/endOfServiceReportAnswers.njk" %}
    </div>
  </div>
{% endblock %}
