{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "../partials/referralNavigationTemplate.njk" %}

{% set pageTitle = "Referral" %}
{% set pageSubTitle = "Progress" %}

{% block referralPageSection %}

  {% if presenter.referralAssigned %}
    <p class="govuk-body">This intervention is assigned to <strong>{{ presenter.assignedCaseworkerFullName }}</strong> (<a href="mailto:{{ presenter.assignedCaseworkerEmail }}">{{ presenter.assignedCaseworkerEmail }}</a>).</p>
  {% endif %}

  <h2 class="govuk-heading-m">Initial assessment appointment</h2>

  <p class="govuk-body">
  {{ presenter.supplierAssessmentMessage }}
  </p>

  {% if supplierAssessmentSummaryListArgs(govukTag) !== null %}
    {{ govukSummaryList(supplierAssessmentSummaryListArgs(govukTag)) }}
  {% endif %}

  <h2 class="govuk-heading-m">Service user's action plan</h2>
  <p class="govuk-body">
    This is the action plan created by the service provider. When there are changes submitted by the service provider, you will need to review it and decide if you want to approve it.
  </p>

  {{ govukSummaryList(actionPlanSummaryListArgs(govukTag)) }}

  <h2 class="govuk-heading-m">Intervention sessions</h2>
  <p class="govuk-body">
    These show the progress of each intervention session.
  </p>

  {% if presenter.hasSessions %}
    {{ govukTable(sessionTableArgs(govukTag)) }}
  {% else %}
    <p class="govuk-body">
      Sessions will appear here when the action plan is approved.
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  {% endif %}

  <h2 class="govuk-heading-m">End of service report</h2>
  {% if presenter.hasEndOfServiceReport %}
    <p>This is the end of service report created by the service provider.</p>

    {{ govukTable(endOfServiceReportTableArgs(govukTag)) }}
  {% else %}
    <p>Below you will be able to find the end of service report created by the service provider. Once submitted, you will be able to read and download it.</p>
  {% endif %}

  {% if presenter.referralEndRequested %}
    <p class="govuk-body">{{ presenter.referralEndRequestedText }}</p>
  {% else %}
    <a href='{{ presenter.referralCancellationHref }}'>Cancel this referral</a>
  {% endif %}
{% endblock %}