{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "HMPPS Interventions" %}
{% block pageTitle %}{{ pageTitle }}
  - GOV.UK{% endblock %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">{{ presenter.text.title }}</h1>
      <p class="govuk-body-m govuk-!-margin-bottom-8">{{ presenter.text.confirmationQuestion }}</p>
    </div>
    <form method="post" action="{{ presenter.confirmCancellationHref }}">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">

      {{ govukButton({ text: "Cancel referral", preventDoubleClick: true }) }}
    </form>
  </div>
{% endblock %}
