{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = "Referral withdrawal" %}
{% set pageSubTitle = "Withdrawal confirmation" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({titleText: presenter.text.confirmationText }) }}
      <br>
      <h2 class="govuk-heading-m">{{presenter.text.headingText}}</p>

      <p class="govuk-body">{{presenter.text.whatHappensNextText.line1}}</p>
      <p class="govuk-body">{{presenter.text.whatHappensNextText.line2}}</p>

      <a href="{{ presenter.myCasesHref }}" class="govuk-button">Close</a>
    </div>
  </div>
{% endblock %}
