{% extends "../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "moj/components/timeline/macro.njk" import mojTimeline %}

{% set pageTitle = "What's new" %}

{% block pageContent %}
  {{ govukBackLink(backButtonArgs) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">What's new</h1>
      <p>Find out about recent changes to Refer and monitor an intervention.</p>

    {% set whatsNewVersion6Html %}
        <h3 class="govuk-heading-s">Amending the probation office</h3>
        <p> If you have submitted a referral but due to a change in circumstances you need to change the probation office a person is being allocated to, you can now update this.
        Please note that you should only make changes to the probation office if it is within the current PDU (probation delivery unit).
        If the person is moving out of the area to a different PDU (or has already moved) you will need to withdraw the referral. </p>

        <h3 class="govuk-heading-s">Supplier Assessment Appointment history</h3>
        <p> You can now view the history of Supplier Assessment Appointments where appointments did not happen or were not attended as well as any accompanying feedback.</p>
    {% endset %}

    {% set whatsNewVersion5Html %}
        <h3 class="govuk-heading-s">Withdraw a referral</h3>
        <p> If you submit a referral for an intervention but later discover a change in circumstance or a problem that means it should not continue, we’ve made it easier for you to withdraw the referral.
        We have added a new button to the top of the case details screen that, once clicked, takes you to a list of withdrawal reasons.
        The options range from a problem with the referral, to user-related issues and sentence/custody changes.
        You need to select a reason and provide some more details. Once you have submitted the request, the referral will be withdrawn.</p>

        <h3 class="govuk-heading-s"> Close a completed referral early</h3>
        <p> If an intervention has been completed you may want to close the referral early. We have now added new functionality to make this easier for you to do. We have added a new button to the top of the case details screen. Once clicked, on the next screen under the heading ‘Early closure’ you should select ‘Intervention has been completed’. Once you have submitted the request, the referral will be closed early.</p>
    {% endset %}


    {% set whatsNewVersion4Html %}
        <p>When service providers create a case note on Refer and monitor an intervention, they’re now asked if you need an email about it.</p>

        <h3 class="govuk-heading-s">Why we’ve made the change</h2>
        <p>This is in response to your feedback. It’s so that you’re only emailed about things which are important or urgent. Please <a href="https://eu.surveymonkey.com/r/H6K5JG3">share your feedback in this survey</a>.</p>
    {% endset %}

    {% set whatsNewVersion3Html %}
        <h3 class="govuk-heading-s">New functionality</h3>
        <p>
          We’ve made some changes to help you get better information about sessions in Refer and monitor an intervention. You’ll now be able to find out:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>if a session happened or not</li>
          <li>about sessions which did not happen but the person on probation attended, for example because the caseworker was absent</li>
          <li>if it’s not known if the person attended, for example it was a phone call and the service provider caseworker could not attend</li>
          <li>details about lateness, such as how late someone was and any reason they gave</li>
        </ul>
        <p>The service provider also has the option to outline what’s planned for the next session.</p>

        <h3 class="govuk-heading-s">Give feedback on the changes</h2>
        <p>We’d like to know what you think. Please <a href="https://eu.surveymonkey.com/r/H6K5JG3">complete this short survey</a>.</p>
    {% endset %}

    {% set whatsNewVersion2Html %}
      <p>From 1 January 2024, referrals for ETE (education, training and employment) can only be made in Greater Manchester.</p>

      <p>ETE interventions in areas outside Greater Manchester must be completed by 31 March 2024. The completion date for these interventions cannot be extended beyond this date.</p>

      <p>Otherwise, the interventions will continue as usual.</p>

      <h3 class="govuk-heading-s">Give feedback on the changes</h2>
      <p>We’d like to know what you think. Please <a href="https://eu.surveymonkey.com/r/H6K5JG3">complete this short survey</a>.</p>
    {% endset %}

    {% set whatsNewVersion1Html %}
      <h3 class="govuk-heading-s">New functionality</h3>
      <p>
        Following our improvements to community referrals in June, we have released new functionality for the remaining referral types:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>pre-release referrals with an allocated COM</li>
        <li>pre-release referrals without an allocated COM (includes referrals from PRTs)</li>
        <li>custodial referrals without an allocated COM</li>
      </ul>
      <p>When you make a referral for an intervention the screens are now tailored to each referral type. This ensures that the most appropriate information is passed onto the service providers.</p>

      <h3 class="govuk-heading-s">New look task list screen</h3>
      <p>We’ve redesigned the task list screen so that it’s easier to track your progress through the referral. You can see at a glance which tasks have been completed and which ones still need to be done.</p>

      <h3 class="govuk-heading-s">Contact details for unallocated referrals</h3>
      <p>Referrals now ask for a main point of contact when there is no allocated COM. This will help service providers to contact the right person and resolve referral issues more quickly.</p>

      <h3 class="govuk-heading-s">Full contact details for service providers</h3>
      <p>We are now providing service providers with more complete contact details for the referral. You will need to review and confirm/update these so they are correct.</p>

      <h3 class="govuk-heading-s">Improved service provider caselist dashboard</h3>
      <p>Service providers now have better at-a-glance information for expected release date, location and CRN on their caselist dashboard.</p>

      <h3 class="govuk-heading-s">Upcoming release</h3>
      <p>Our next release will deliver design improvements based on our recent research. This release will include the ability for referrers to amend phone numbers and show prison number on custody referrals.</p>

      <h3 class="govuk-heading-s">Give feedback on the changes</h2>
      <p>We’d like to know what you think. Please <a href="https://eu.surveymonkey.com/r/H6K5JG3">complete this short survey</a>.</p>
    {% endset %}

      {{ mojTimeline({
        items: [
           {
            label: {
                text: "Changes to withdraw and Monitor and intervention"
            },
            html: whatsNewVersion6Html,
            datetime: {
              timestamp: "2024-08-07",
              type: "date"
            }
          },
          {
            label: {
                text: "Changes to withdrawing or closing a referral early"
            },
            html: whatsNewVersion5Html,
            datetime: {
              timestamp: "2024-06-13",
              type: "date"
            }
          },
          {
            label: {
                text: "Helping to reduce your emails"
            },
            html: whatsNewVersion4Html,
            datetime: {
              timestamp: "2024-03-04",
              type: "date"
            }
          },
          {
            label: {
              text: "Get better information about sessions"
            },
            html: whatsNewVersion3Html,
            datetime: {
              timestamp: "2024-01-04",
              type: "date"
            }
          },
          {
            label: {
              text: "Changes to ETE interventions"
            },
            html: whatsNewVersion2Html,
            datetime: {
              timestamp: "2023-12-15",
              type: "date"
            }
          },
          {
            label: {
              text: "Changes to making a referral"
            },
            html: whatsNewVersion1Html,
            datetime: {
              timestamp: "2023-10-16",
              type: "date"
            }
          }
        ]
      })
    }}
    </div>
  </div>
{% endblock %}
