{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = "Appointment feedback" %}
{% set pageSubTitle = "Submission confirmation" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({titleText: "Initial assessment added" }) }}

      <h2 class="govuk-heading-m">What happens next?</h2>

      <p class="govuk-body">
        Deliver the assessment and mark that the service user attended.
      </p>

      <p class="govuk-body">
        Note, the appointment can still be rescheduled.
      </p>

      <a href="{{ presenter.progressHref }}" class="govuk-button">Return to progress</a>
    </div>
  </div>
{% endblock %}
